<ion-content>
  <header class="mainHeader">
    <div class="back-buttons"> 
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/blogo.png" width="50" height="50" />
    </div>
    <div class="placeholderHeader">
      <div class="settingButtons">
        <button routerLink="/set" id="settingsNB" #settingsNB class="audioSet" type="button"><img src="assets/images/settings.png"></button>
      </div>  
      <div class="questionMark questionClass">
        <button #questionNB type="button"><img class="questionIMG" src="assets/images/question.png"></button>
      </div>
    </div>
  </header>  
  <div id="nbPage">
    <div class="breathingpages">
        <div class="breathingpages">
            <h1 class="volumeSettings">Nadi Shodhana</h1>
        </div>
        <div class="main-container">
          <div class="timer-status">
              <div class="settings-form NB">
                  <div class="form-line">
                    <button class="buttonminus" type="button" #minusNB>-</button>
                  </div>  
                  <div class="form-line">
                      <img src="assets/images/inr.png">
                      <input type="number" value="4" #inhaleInputNB min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/outl.png">
                      <input type="number" value="4" #hold1InputNB min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/inl.png">
                      <input type="number" value="4" #exhaleInputNB min="1" readonly>
                  </div>
                  <div class="form-line">
                    <img src="assets/images/outr.png">
                    <input type="number" value="4" #hold2InputNB min="1" readonly>
                </div>
                <div class="form-line">
                  <button class="buttonplus" type="button" #plusNB>+</button>
              </div>
              </div>
              <div class="NBtimer-container">
                  <select #NBtimeInput class="countdownDisplay">
                      <option value="infinity"> ∞ </option>
                      <option value="60"   *ngIf="!isPortuguese">1 minute</option>
                      <option value="60" *ngIf="isPortuguese">1 minuto</option>
                  </select>
                  <input #NBcountdownInput class="countdownDisplay" style="display: none;" readonly />
              </div>
              <div class="center-container">
                <button #startBtnNB class="ballButton">
                  <div #NBball class="ball">
                      <span #NBballText></span>
                      <img src="assets/images/3dBall.png" alt="3D Ball">
                    </div>
                </button>
              </div>   
              <div class="timer-controls">
                  <!--  Information about interval  -->
                  <button type="button" class="stopBtn" id="stopBtnNB" #stopBtnNB><div   *ngIf="!isPortuguese">Reset</div><div  *ngIf="isPortuguese">Resetar</div></button>
                  <button type="button" class="saveBtn" id="NBSave" #NBSave><div   *ngIf="!isPortuguese">Save</div><div  *ngIf="isPortuguese">Salvar</div></button>
                  <form method="post" id="NBForm">
                      <div class="roundbox">
                          <div>Rounds:</div><div #roundsDoneNB>0</div>
                          <div   *ngIf="!isPortuguese">Total time:</div><div  *ngIf="isPortuguese">Tempo Total:</div><div #timerDisplayNB>00 : 00</div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div #NBResultSaved class="resultSaved hiddenElements"><div   *ngIf="!isPortuguese">Result Succesfully Saved</div><div  *ngIf="isPortuguese">Resultado salvo com sucesso</div></div>
    </div>
  </div>
  <div id="myModalNB" class="modal" #myModalNB>
    <div class="modal-content">
        <span class="close" id="closeModalNB" #closeModalNB>&times;</span>
        <div class="autoPlayBtnContainer">
          <!--<button type="button" class="autoPlayBtn" (click)="toggleInstructions()">
            {{ instructionsActive ? '⏹ Stop Instructions' : '▶ Play Instructions' }}
          </button>-->
        </div>
        <div class="slideshow-container">
            <div class="mySlides fadeModal slides">
                <img src="assets/images/yogiclines.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>Nadi Shodhana breathing technique is based on the principles of alternating the sides of your nostrils that you breathing. It bring balance to the body and mind</p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>A técnica de respiração Nadi Shodhana é baseada nos princípios de alternar os lados das narinas por onde você respira. Ela traz equilíbrio para o corpo e mente</p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/sit.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Find a comfortable seat or lay down. Relax your shoulders, face muscles and jaw. Place your tongue on the roof of your mouth, its tip should touch the top of your front teeth
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Encontre um assento confortável ou deite-se. Relaxe os ombros, os músculos faciais e a mandíbula. Coloque sua língua no céu da boca, a ponta deve tocar o topo dos seus dentes da frente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/sandTimer.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Choose a ratio that you are comfortable with, but still pushes your comfortable zone. You can also choose how long you want to do it for
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p> 
                    Escolha uma proporção com a qual você se sinta confortável, mas que ainda desafie sua zona de conforto. Você também pode escolher por quanto tempo deseja fazê-lo
                  </p> 
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/mindful.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Press 'Start' to begin the guided exercise. If you need to pause, just click on the circle again.
                    In the end, save your results to track your improvement over time
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Pressione 'Iniciar' e siga a técnica guiada. Salve seus resultados ao final. Se precisar pausar, basta clicar no círculo novamente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">

                <img src="assets/images/airhunger.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    When using the right hand,  use the thumb to close your right nostril and the ring finger to close the left. Alternate as you follow the guided technique 
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Ao usar a mão direita, use o polegar para fechar a narina direita e o dedo anelar para fechar a esquerda. Alterne conforme seguir a técnica guiada
                  </p>
                </div>
            </div>
            <div class="dots" #NBdots role="tablist" aria-label="Slideshow pagination"></div>
        </div>
    </div>
  </div>
</ion-content>