<ion-content>
    <header class="mainHeader">
        <div class="back-buttons">
            <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
        </div>
        <div class="logo-container">
            <img class="logoimg" src="https://brizastorage.blob.core.windows.net/images/B_DEGRAD.svg" width="50" height="50" />
        </div>
        <div class="placeholderHeader"></div> <!-- Placeholder to balance the flexbox layout -->
    </header>  
    <div id="programPage">
        <div class="breathingpages BHbreathing">
            <h1 class="english">Briza Program</h1>
            <h1 class="portuguese">Programa Briza</h1>
            <div class="questionMark questionClass2"><a id="questionP" #questionP><img class="questionIMG" src="https://brizastorage.blob.core.windows.net/images/question.png" /></a></div>
        </div>
        <div id="personalizedBriza" #personalizedBriza>
            <div id="noBrtResults" #noBrtResults style="display: none;">
                <div class="breathingpages">
                <h3>It looks like you haven't done your Briza Retention Test yet. Find out what your BRT score is to get started with the Briza Program.</h3>
                <a routerLink="/brt">
                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt.svg" />
                </a>
                </div>
            </div>
            <div id="noBrtResultsBR" #noBrtResultsBR style="display: none;">
                <div class="breathingpages">
                    <h3>Parece que você ainda não fez o seu Teste de Retenção Briza. Descubra qual é a sua pontuação para começar com o Programa Briza</h3>
                    <a routerLink="/brt">
                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brtPT.svg" />
                </a>
                </div>
            </div>
            <!-- Display when BRT result is <= 15 seconds -->
            <div id="brtResultMinus15" #brtResultMinus15 style="display: none;">
                <div class="breathingpages">
                    <h2>Your BRT score is:</h2>
                    <h2>{{ latestBRTResultInSeconds }} seconds</h2>
                    <p>Routine to improve your breathing efficiency</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Every day</p>
                            <div class="col">
                                <a routerLink="/brt">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/yogic">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/yogic.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/bb">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathing.svg" />
                                </a>
                            </div>
                            <div class="col"></div>
                            <div class="w-100"></div>
                            <p>At least 3 times a week</p>
                            <div class="col">
                                <a routerLink="/breathrecovery">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverysit.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/brw">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalking.svg" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> Do NOT push yourself over your limits. If you have any serious health conditions, to ensure these breathing exercises are safe to you, consult a doctor before practicing any of the Briza Breath & Performance App`s exercises</p>
                    </div>
                </div>
            </div>
            <div id="brtResultMinus25" #brtResultMinus25 style="display: none;">
                <div class="breathingpages">
                    <h2>Your BRT score is:</h2>
                    <h2>{{ latestBRTResultInSeconds }} seconds</h2>
                    <p>Routine to improve your breathing efficiency</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Every day</p>
                            <div class="col">
                                <a routerLink="/brt">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/bb">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathing.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/yogic">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/yogic.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/brw">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalking.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <p>At least 3 times a week</p>
                            <div class="col">
                                <a routerLink="/hat">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/hat.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/wh">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/guidedhyper2.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/lungs">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/lungsexpansion2.svg">
                                </a>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> Do NOT push yourself over your limits. If you have any serious health conditions, to ensure these breathing exercises are safe to you, consult a doctor before practicing any of the Briza Breath & Performance App`s exercises</p>
                    </div>
                </div>
            </div>
            <div id="brtResultMinus35" #brtResultMinus35 style="display: none;">
                <div class="breathingpages">
                    <h2>Your BRT score is:</h2>
                    <h2>{{ latestBRTResultInSeconds }} seconds</h2>
                    <p>Routine to improve your breathing efficiency</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Every day</p>
                            <div class="col">
                                <a routerLink="/brt">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/bb">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathing.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/brw">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalking.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/hat">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/hat.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <p>At least 3 times a week</p>
                            <div class="col">
                                <a routerLink="/ct">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/tolerance2.svg">
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/wh">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/guidedhyper2.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/lungs">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/lungsexpansion2.svg">
                                </a>
                            </div>
                            <div class="col"><a></a></div>
                            </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> Do NOT push yourself over your limits. If you have any serious health conditions, to ensure these breathing exercises are safe to you, consult a doctor before practicing any of the Briza Breath & Performance App`s exercises</p>
                    </div>
                </div>
            </div>
            <div id="brtResultPlus35" #brtResultPlus35 style="display: none;">
                <div class="breathingpages">
                    <h2>Your BRT score is:</h2>
                    <h2>{{ latestBRTResultInSeconds }} seconds</h2>
                    <p>Routine to improve your breathing efficiency</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Every day</p>
                            <div class="col">
                                <a routerLink="/brt">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/bb">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathing.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/brw">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalking.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/ct">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/tolerance2.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <p>At least 3 times a week</p>
                            <div class="col">
                                <a routerLink="/hatc">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/hatcycling.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/ahat">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/advancedhat.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/lungs">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/lungsexpansion2.svg">
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/wh">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/guidedhyper2.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> Do NOT push yourself over your limits. If you have any serious health conditions, to ensure these breathing exercises are safe to you, consult a doctor before practicing any of the Briza Breath & Performance App`s exercises</p>
                    </div>
                </div>
            </div>
            <div id="brtResultMinus15BR" #brtResultMinus15BR style="display: none;">
                <div class="breathingpages">
                    <h2>Seu resultado de teste de retenção é:</h2>
                    <h2>{{ latestBRTResultInSeconds }} segundos</h2>
                    <p>Rotina para melhorar sua eficiência respiratória</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Todo dia</p>
                            <div class="col">
                                <a routerLink="/brt">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2PT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/yogic">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/yogicPT.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/bb">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathingPT.svg" />
                                </a>
                            </div>
                            <div class="col"></div>
                            <div class="w-100"></div>
                            <p>Pelo menos 3 vezes por semana</p>
                            <div class="col">
                                <a routerLink="/breathrecovery">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverysitPT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/brw">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalkingPT.svg" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> NÃO force-se além dos seus limites. Se você tiver alguma condição de saúde grave, para garantir que esses exercícios respiratórios sejam seguros para você, consulte um médico antes de praticar qualquer um dos exercícios do aplicativo Briza Breath & Performance.</p>
                    </div>
                </div>
            </div>
            <div id="brtResultMinus25BR" #brtResultMinus25BR style="display: none;">
                <div class="breathingpages">
                    <h2>Seu resultado de teste de retenção é:</h2>
                    <h2>{{ latestBRTResultInSeconds }} segundos</h2>
                    <p>Rotina para melhorar sua eficiência respiratória</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Todo dia</p>
                            <div class="col">
                                <a routerLink="/brt">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2PT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/bb">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathingPT.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/yogic">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/yogicPT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/brw">
                                <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalkingPT.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <p>Pelo menos 3 vezes por semana</p>
                            <div class="col">
                                <a routerLink="/hat">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/hatPT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/wh">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/expansaopulmonar2.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/lungs">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/lungsexpansion2.svg">
                                </a>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> NÃO force-se além dos seus limites. Se você tiver alguma condição de saúde grave, para garantir que esses exercícios respiratórios sejam seguros para você, consulte um médico antes de praticar qualquer um dos exercícios do aplicativo Briza Breath & Performance.</p>
                    </div>
                </div>
            </div>
            <div id="brtResultMinus35BR" #brtResultMinus35BR style="display: none;">
                <div class="breathingpages">
                    <h2>Seu resultado de teste de retenção é:</h2>
                    <h2>{{ latestBRTResultInSeconds }} segundos</h2>
                    <p>Rotina para melhorar sua eficiência respiratória</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Todo dia</p>
                            <div class="col">
                                <a routerLink="/brt">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2PT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/bb">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathingPT.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/brw">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalkingPT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/hat">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/hatPT.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <p>Pelo menos 3 vezes por semana</p>
                            <div class="col">
                                <a routerLink="/ct">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/tolerancia2.svg">
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/wh">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/guiadahiper2.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/lungs">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/expansaopulmonar2.svg">
                                </a>
                            </div>
                            <div class="col"><a></a></div>
                            </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> NÃO force-se além dos seus limites. Se você tiver alguma condição de saúde grave, para garantir que esses exercícios respiratórios sejam seguros para você, consulte um médico antes de praticar qualquer um dos exercícios do aplicativo Briza Breath & Performance.</p>
                    </div>
                </div>
            </div>
            <div id="brtResultPlus35BR" #brtResultPlus35BR style="display: none;">
                <div class="breathingpages">
                    <h2>Seu resultado de teste de retenção é:</h2>
                    <h2>{{ latestBRTResultInSeconds }} segundos</h2>
                    <p>Rotina para melhorar sua eficiência respiratória</p>
                    <div class="BHGrid">
                        <div class="row g-2">
                            <p>Todo dia</p>
                            <div class="col">
                                <a routerLink="/brt">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt2PT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/bb">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brizabreathingPT.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/brw">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalkingPT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/ct">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/tolerancia2.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <p>Pelo menos 3 vezes por semana</p>
                            <div class="col">
                                <a routerLink="/hatc">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/hatcyclingPT.svg" />
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/ahat">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/advancedhatPT.svg" />
                                </a>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <a routerLink="/lungs">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/expansaopulmonar2.svg">
                                </a>
                            </div>
                            <div class="col">
                                <a routerLink="/wh">
                                    <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/guiadahiper2.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="brizaprogram">
                        <p class="atention"> NÃO force-se além dos seus limites. Se você tiver alguma condição de saúde grave, para garantir que esses exercícios respiratórios sejam seguros para você, consulte um médico antes de praticar qualquer um dos exercícios do aplicativo Briza Breath & Performance.</p>
                    </div>
                </div>
            </div>
        </div>
        <button id="programLink2" type="button" class="guidedBTN" routerLink="/program2"><div class="english">All Program's Exercises</div><div class="portuguese">Todos exercícios do programa</div></button>
    </div>
    <div id="myModalP" class="modal" #myModalP>
        <div class="modal-content">
            <span class="close" id="closeModalP" #closeModalP>&times;</span>
            <div class="slideshow-container">
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">INTRO</div>
                <div class="numbertext portuguese">Introdução</div>
                <img src="https://brizastorage.blob.core.windows.net/images/coherentlines.svg">
                <div class="text english">
                    <p>
                    The Briza Program is a collection of breathing and breath-holding exercises tailored to improve your breathing efficiency, especially during intense workouts. For optimal results, it's essential to consistently breathe through your nose and use your diaphragm
                    </p>
                    <p>
                    Your progress in the program will be tracked using the Briza Retention Test. With regular practice, it's possible to extend your score beyond 40 seconds in just a few months. Based on your BRT results, the program may be adjusted to better suit your needs
                    </p>
                </div>
                <div class="text portuguese">
                    <p>O Programa Briza consiste em uma série de exercícios de respiração e retenção de respiração projetados para melhorar a eficiência da sua respiração durante treinos intensos. Para maximizar os benefícios deste programa, é crucial respirar consistentemente pelo nariz e envolver o diafragma.</p>
                    <p>O Teste de Retenção Briza será a medida do seu progresso neste programa. Em alguns meses, sua pontuação pode ultrapassar 40 segundos se os exercícios forem feitos consistentemente. O programa pode mudar dependendo dos resultados do Teste de Retenção Briza.</p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">NASAL BREATHING</div>
                <div class="numbertext portuguese">Respiração Nasal</div>
                <img src="https://brizastorage.blob.core.windows.net/images/breathlight.svg">
                <div class="text english">
                    <p>
                        Ensure to breathe through your nose at all times.
                        Nasal breathing comes with many benefits, including:
                    </p>
                    <ul>Filtering, warming, and humidifying the air</ul>
                    <ul>Increasing oxygen uptake</ul>
                    <ul>Enhancing lung function</ul>
                    <ul>Engaging the diaphragm</ul>
                    <ul>Decreasing stress and anxiety</ul>
                    <ul>Improving sleep quality</ul>
                    <ul>Boosting nitric oxide production, a gas that helps widen blood vessels, improving blood flow and lowering blood pressure</ul>
                </div>
                <div class="text portuguese">
                    <p>Garanta a respiração nasal em todos os momentos. Aqui estão alguns dos benefícios da respiração nasal:</p>
                    <ul>Filtra, aquece e umidifica o ar</ul>
                    <ul>Aumenta a captação de oxigênio</ul>
                    <ul>Melhora a função pulmonar</ul>
                    <ul>Reduz o estresse e a ansiedade</ul>
                    <ul>Melhora o sono</ul>
                    <ul>Aumenta a produção de óxido nítrico</ul>
                    <ul>Ativa o diafragma</ul>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">DIAPHRAGM</div>
                <div class="numbertext portuguese">Diafragma</div>
                <img src="https://brizastorage.blob.core.windows.net/images/diaphragmlines.svg">
                <div class="text english">
                    <p>
                        The diaphragm is a big, dome-shaped muscle found at the bottom of the lungs. It's very important for breathing because it contracts and relaxes to let air move in and out of the lungs.
                        Here's how to correctly use your diaphragm for breathing:
                    </p>
                    <ul>Put one hand on your belly and press gently</ul>
                    <ul>When you breathe in, your belly should push against your hand</ul>
                    <ul>As you breathe out, you'll feel your belly lower</ul>
                    <ul>Make sure your shoulders stay still when you breathe in</ul>
                    <ul>Try to breathe in a way that makes your belly and rib cage expand</ul>
                </div>
                <div class="text portuguese">
                    <p>O diafragma é um músculo grande em forma de cúpula localizado na base dos pulmões que desempenha um papel crucial na respiração, contraindo e relaxando para permitir a entrada e saída de ar nos pulmões.</p>
                    <p>Aprenda a usar seu diafragma:</p>
                    <ul>Coloque uma mão em sua barriga e pressione suavemente</ul>
                    <ul>Ao inspirar, sinta sua barriga empurrando sua mão</ul>
                    <ul>Ao expirar, sinta sua barriga descendo</ul>
                    <ul>Seu ombro não deve se mover enquanto você inspira</ul>
                    <ul>Foque na respiração para expandir sua barriga e caixa torácica</ul>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">NOSE UNBLOCKING</div>
                <div class="numbertext portuguese">Desbloqueio Nasal</div>
                <img src="https://brizastorage.blob.core.windows.net/images/noseblock.svg">
                <div class="text english">
                    <p>
                        If your nose is blocked for any reason and you can't use it, try this technique before starting your breathing exercises:
                    </p>
                    <ul>Fully exhale and pinch your nose</ul>
                    <ul>Nod your head quickly while holding your breath</ul>
                    <ul>When you start to feel the need to breathe, inhale, and catch your breath</ul>
                    <ul> Do this 4 to 6 times until your nose feels clear</ul>
                </div>
                <div class="text portuguese">
                    <p>Caso você não consiga usar seu nariz porque está bloqueado, faça a seguinte técnica antes de fazer seus exercícios de respiração:</p>
                    <ul>Expire completamente e feche o nariz</ul>
                    <ul>Balance a cabeça em um ritmo rápido enquanto segura a respiração</ul>
                    <ul>Quando sentir vontade de respirar, inspire e recupere sua respiração</ul>
                    <ul>Repita de 4 a 6 vezes para desbloquear completamente o nariz</ul>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">MOUTH TAPING</div>
                <div class="numbertext portuguese">Fita nos labios</div>
                <img src="https://brizastorage.blob.core.windows.net/images/tape.svg">
                <div class="text english">
                    <p>
                        Consider taping your mouth during sleep. Use micropore tape or a similar gentle tape
                    </p>
                    <p>
                        Apply the tape to the center of your mouth, leaving gaps at the sides so you can breathe through your mouth if necessary.
                        Do this every night. It might feel uncomfortable for the first few nights, but as you get accustomed to it, you'll experience deeper and more restful sleep
                    </p>
                </div>
                <div class="text portuguese">
                    <p>Coloque uma fita na boca enquanto dorme</p>
                    <ul>Use fita micropore ou algo similar</ul>
                    <ul>Cole no meio ddo seus labios e deixe uma lacuna nos lados caso precise respirar pela boca</ul>
                    <ul>Faça isso todas as noites. Você pode sentir desconforto nas primeiras noites, mas quando se acostumar, terá um sono profundo e tranquilo.</ul>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">BENEFITS OF THIS PROGRAM</div>
                <div class="numbertext portuguese">Benefícios deste programa</div>
                <img src="https://brizastorage.blob.core.windows.net/images/yogiclines.svg">
                <div class="text english">
                    <ul>Enhanced breathing: breathe more easily and efficiently</ul>
                    <ul>Improved cardiovascular Health: boost your heart health and stamina</ul>
                    <ul>Increased energy: feel more energetic throughout the day</ul>
                    <ul>Heightened awareness: sharpen your focus and mindfulness</ul>
                    <ul>Accelerated healing: speed up your body's natural recovery processes</ul>
                    <ul>Improved sleep quality: enjoy a deeper, more restful sleep</ul>
                    <ul>Optimized oxygenation: ensure better oxygen supply to your organs and muscles</ul>
                </div>
                <div class="text portuguese">
                    <ul>Respiração mais fácil</ul>
                    <ul>Melhor cardio</ul>
                    <ul>Mais energia</ul>
                    <ul>Melhor consciência</ul>
                    <ul>Cura rápida</ul>
                    <ul>Melhor sono</ul>
                    <ul>Mais fácil oxigenação de órgãos e músculos</ul>
                </div>
            </div>
                <!-- Next and previous buttons -->
                <a class="prev" #Pprev>&#10094;</a>
                <a class="next" #Pnext>&#10095;</a>
            </div>
        </div>
    </div>
</ion-content>