<div class="logo" [ngClass]="{ 'blinking': isLoggingIn }">
  <img src="assets/images/splash.png" width="250" height="100" />
</div>

<ion-content>
  <div id="registerGrid">
    <form (submit)="onRegister()">
      <ion-item>
        <ion-input
          class="form-control"
          type="text"
          [(ngModel)]="name"
          name="name"
          [placeholder]="isPortuguese ? 'Nome' : 'Name'"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="form-control"
          type="email"
          [(ngModel)]="email"
          name="email"
          [placeholder]="isPortuguese ? 'E-mail' : 'Email'"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="form-control"
          type="password"
          [(ngModel)]="password"
          name="password"
          [placeholder]="isPortuguese ? 'Senha' : 'Password'"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="form-control"
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          [placeholder]="isPortuguese ? 'Confirmar senha' : 'Confirm Password'"
          required>
        </ion-input>
      </ion-item>

      <ion-button class="form-button" expand="block" type="submit" [disabled]="isLoggingIn">
        {{
          isLoggingIn
            ? (isPortuguese ? 'Carregando...' : 'Loading...')
            : (isPortuguese ? 'Registrar' : 'Register')
        }}
      </ion-button>

      <p class="textForm" *ngIf="registrationError" style="color: red; text-align: center;">
        {{ registrationError }}
      </p>
    </form>

    <p class="textForm" style="text-align:center;">
      <a routerLink="/login">
        {{ isPortuguese ? 'Voltar ao login' : 'Back to login' }}
      </a>
    </p>
  </div>
</ion-content>
