<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback" (click)="goBack()">&#8249;</button>
    </div>
    <div class="logo-container">
      <img class="logoimg" src="assets/images/blogo.png" width="50" height="50" />
    </div>
    <div class="placeholderHeader"></div>
  </header>

  <div class="breathingpages" *ngIf="hasData">
    <h1   *ngIf="!isPortuguese">Yoga Classes</h1>
    <h1 *ngIf="isPortuguese">Aulas de Yoga</h1>
  </div>

  <div class="chart-container">
    <canvas #yogaChartCanvas></canvas>
  </div>

  <div class="overview-box" *ngIf="hasData">
    <h2   *ngIf="!isPortuguese">Overview</h2>
    <h2 *ngIf="isPortuguese">Visão Geral</h2>
    <div class="overview-item">
      <strong   *ngIf="!isPortuguese">Highest Daily Total</strong>
      <strong *ngIf="isPortuguese">Maior total de minutos em um dia</strong>
      <span   *ngIf="!isPortuguese">{{ maxTotalMinutes }} on {{ maxTotalMinutesDate }}</span>
      <span *ngIf="isPortuguese">{{ maxTotalMinutes }} no dia {{ maxTotalMinutesDate }}</span>
    </div>
    <div class="overview-item">
      <strong   *ngIf="!isPortuguese">Total Sessions</strong>
      <strong *ngIf="isPortuguese">Total de Sessões</strong>
      <span>{{ totalSessions }}</span>
    </div>
  </div>  
</ion-content>
