<ion-content>
  <header class="mainHeader">
      <div class="back-buttons">
          <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
      </div>
      <div class="logo-container">
          <img class="logoimg" src="assets/images/blogo.png" width="50" height="50" />
      </div>
      <div class="placeholderHeader"></div> <!-- Placeholder to balance the flexbox layout -->
  </header>  
  <div class="breathingpages BHbreathing">
    <h1   *ngIf="!isPortuguese">Briza Retention Test</h1>
    <h1 *ngIf="isPortuguese">Teste de Retenção Briza</h1>
  </div>
  <div class="chart-container">
    <canvas #chartCanvas></canvas>
  </div>
  <div class="overview-box">
    <h2   *ngIf="!isPortuguese">Overview</h2>
    <h2 *ngIf="isPortuguese">Visão Geral</h2>
    <div class="overview-item">
      <strong   *ngIf="!isPortuguese">Latest</strong>
      <strong *ngIf="isPortuguese">Último</strong>
      <span   *ngIf="!isPortuguese">{{ latestTest.result }} seconds on {{ latestTest.date}}</span>
      <span *ngIf="isPortuguese">{{ latestTest.result }} segundos no {{ latestTest.date}}</span>
    </div>
    <div class="overview-item">
      <strong   *ngIf="!isPortuguese">Longest</strong>
      <strong *ngIf="isPortuguese">Mais Longo</strong>
      <span   *ngIf="!isPortuguese">{{ longestTest.result }} seconds on {{ longestTest.date}}</span>
      <span *ngIf="isPortuguese">{{ longestTest.result }} segundos no {{ longestTest.date}}</span>
    </div>
    <div class="overview-item">
      <strong>Total</strong>
      <span   *ngIf="!isPortuguese">{{ totalTests }} {{ totalTests === 1 ? 'Test' : 'Tests' }}</span>
      <span *ngIf="isPortuguese">{{ totalTests }} {{ totalTests === 1 ? 'Teste' : 'Testes' }}</span>
    </div>
  
    <div class="feedback" [innerHTML]="getFeedbackText()"></div>
    <a routerLink="/program"   *ngIf="!isPortuguese" class="goProgram">Go to Briza Program</a>
    <a routerLink="/program"   *ngIf="isPortuguese" class="goProgram">Ir para o Programa Briza</a>
  </div>  
</ion-content>