<ion-content>
  <header class="mainHeader">
    <div class="back-buttons"> 
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/blogo.png" width="50" height="50" />
    </div>
    <div class="placeholderHeader"> 
      <div class="settingButtons">
        <button routerLink="/set" id="settingsYB" #settingsYB class="audioSet" type="button"><img src="assets/images/settings.png"></button>
      </div>  
      <div class="questionMark questionClass">
        <button #questionYB type="button"><img class="questionIMG" src="assets/images/question.png"></button>
      </div>
    </div>
  </header>  
  <div id="yogicPage">
    <div class="breathingpages">
        <div class="breathingpages">
            <h1 class="volumeSettings">Dirga</h1>
        </div>
        <div class="main-container">
          <div class="timer-status">
              <div class="settings-form YB">
                  <div class="form-line">
                    <button class="buttonminus" type="button" #minusYB>-</button>
                  </div>  
                  <div class="form-line">
                      <img src="assets/images/in.png">
                      <input type="number" value="3" #inhaleInputYB min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/in.png">
                      <input type="number" value="3" #hold1InputYB min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/in.png">
                      <input type="number" value="3" #exhaleInputYB min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/out.png">
                    <input type="number" value="9" #hold2InputYB min="1" readonly>
                </div>
                <div class="form-line">
                  <button class="buttonplus" type="button" #plusYB>+</button>
              </div>
              </div>
              <div class="YBtimer-container">
                  <select #YBtimeInput class="countdownDisplay">
                      <option value="infinity"> ∞ </option>
                      <option value="60"   *ngIf="!isPortuguese">1 minute</option>
                      <option value="60" *ngIf="isPortuguese">1 minuto</option>
                  </select>
                  <input #YBcountdownInput class="countdownDisplay" style="display: none;" readonly />
              </div>
              <div class="center-container">
                <button #startBtnYB class="ballButton">
                  <div #YBball class="ball">
                      <span #YBballText></span>
                      <img src="assets/images/3dBall.png" alt="3D Ball">
                    </div>
                </button>
              </div>   
              <div class="timer-controls">
                  <!--  Information about interval  -->
                  <button type="button" class="stopBtn" id="stopBtnYB" #stopBtnYB><div   *ngIf="!isPortuguese">Reset</div><div  *ngIf="isPortuguese">Resetar</div></button>
                  <button type="button" class="saveBtn" id="YBSave" #YBSave><div   *ngIf="!isPortuguese">Save</div><div  *ngIf="isPortuguese">Salvar</div></button>
                  <form method="post" id="YBForm">
                      <div class="roundbox">
                          <div>Rounds:</div><div #roundsDoneYB>0</div>
                          <div   *ngIf="!isPortuguese">Total time:</div><div  *ngIf="isPortuguese">Tempo Total:</div><div #timerDisplayYB>00 : 00</div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div #YBResultSaved class="resultSaved hiddenElements"><div   *ngIf="!isPortuguese">Result Succesfully Saved</div><div  *ngIf="isPortuguese">Resultado salvo com sucesso</div></div>
    </div>
  </div>
  <div id="myModalYB" class="modal" #myModalYB>
    <div class="modal-content">
        <span class="close" id="closeModalYB" #closeModalYB>&times;</span>
        <div class="autoPlayBtnContainer">
          <!--<button type="button" class="autoPlayBtn" (click)="toggleInstructions()">
            {{ instructionsActive ? '⏹ Stop Instructions' : '▶ Play Instructions' }}
          </button>-->
        </div>
        <div class="slideshow-container">
            <div class="mySlides fadeModal slides">
                <img src="assets/images/yogiclines.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Dirga is a mindful practice that involves breathing in three parts: first filling the belly, then the ribs, and finally the chest
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Dirga envolve o controle consciente da respiração, por meio de padrões específicos de 3 partes: enchendo a barriga, costelas e peito, e exalando do peito, costelas e por último a barriga
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/yogiclines.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                  When exhaling, you reverse the order, starting from the chest, moving to the ribs, and finishing with the belly. This technique helps in controlling breath and improving oxygen flow
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Ao expirar, inverta a ordem, começando pelo peito, passando para as costelas e terminando na barriga. Essa técnica ajuda a controlar a respiração e a melhorar o fluxo de oxigênio                 
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/sit.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Find a comfortable seat or lie down. Relax your shoulders, facial muscles, and jaw. Place your tongue on the roof of your mouth, with its tip gently touching your upper front teeth
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Encontre um assento confortável ou deite-se. Relaxe os ombros, os músculos faciais e a mandíbula. Coloque sua língua no céu da boca, a ponta deve tocar o topo dos seus dentes da frente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/sandTimer.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Select a breathing count that feels manageable yet gently extends your limits. Also, choose your session's duration
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p> 
                    Escolha uma proporção com a qual você se sinta confortável, mas que ainda desafie sua zona de conforto. Você também pode escolher por quanto tempo deseja fazê-lo
                  </p> 
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/mindful.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Press 'Start' to begin the guided exercise. If you need to pause, just click on the circle again
                    In the end, save your results to track your improvement over time
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Pressione 'Iniciar' e siga a técnica guiada. Salve seus resultados ao final. Se precisar pausar, basta clicar no círculo novamente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/airhunger.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    If you notice your heartbeat speeding up or the practice becomes too difficult with your chosen breath count, pause and select a more suitable option for you                    
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Se a proporção escolhida estiver fazendo seu coração acelerar e você achar muito difícil, pare de fazê-lo e escolha uma proporção menor
                  </p>
                </div>
            </div>
            <div class="dots" #YBdots role="tablist" aria-label="Slideshow pagination"></div>
        </div>
    </div>
  </div>
</ion-content>