<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback" (click)="goBack()">&#8249;</button>
    </div>
    <div class="logo-container">
      <img class="logoimg" src="https://brizastorage.blob.core.windows.net/images/B_DEGRAD.svg" width="50" height="50" />
    </div>
    <div class="placeholderHeader"></div>
  </header>

  <div class="breathingpages" *ngIf="hasData">
    <h1 class="english">All Other Exercises</h1>
    <h1 class="portuguese">Todos Outros Exercícios</h1>
  </div>

  <div class="chart-container" #allChartContainer>
    <canvas #allChartCanvas></canvas>
  </div>

  <div class="overview-box" *ngIf="hasData">
    <h2 class="english">Overview</h2>
    <h2 class="portuguese">Visão Geral</h2>
    <div class="overview-item">
      <strong class="english">Highest total minutes in a day:</strong>
      <strong class="portuguese">Maior total de minutos em um dia:</strong>
      <span class="english">{{ maxTotalMinutes }} on {{ maxTotalMinutesDate }}</span>
      <span class="portuguese">{{ maxTotalMinutes }} no dia {{ maxTotalMinutesDate }}</span>
    </div>
    <div class="overview-item">
      <strong class="english">Total Sessions:</strong>
      <strong class="portuguese">Total de Sessões:</strong>
      <span>{{ totalSessions }}</span>
    </div>
  </div>  
</ion-content>
