.blinking {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  .centeredTextlog{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0661AA;
    text-align: center;
  }
  .logbuttons{
    margin-bottom: 15px !important;
    width: 80%;
    margin: auto;
  }
  .google{
    --ion-color-light-contrast: #0661AA !important;
  }
  .apple{
  --ion-color-base: #0661AA !important;
  }
  .langBtn{
  color: #49B79D !important;
}