<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="https://brizastorage.blob.core.windows.net/images/B_DEGRAD.svg" width="50" height="50" />
    </div>
    <div class="placeholderHeader"></div> <!-- Placeholder to balance the flexbox layout -->
  </header>  
  <div id="rbPage">
    <div class="breathingpages">
        <div class="breathingpages">
            <h4 class="volumeSettings english">4-7-8 Relaxation Breathing</h4>
            <h4 class="volumeSettings portuguese">4-7-8 Respiração Relaxante</h4>
            <div class="questionMark questionClass">
              <button #questionRB type="button"><img class="questionIMG" src="https://brizastorage.blob.core.windows.net/images/question.png"></button>
            </div>
        </div>
        <div class="settingButtons">
          <button routerLink="/set" id="settingsRB" #settingsRB class="audioSet" type="button"><img src="https://brizastorage.blob.core.windows.net/images/settings.png"></button>
        </div>
        <div class="main-container">
          <div class="timer-status">
              <div class="settings-form RB">
                  <div class="timer-additional-info">
                      <b class="english">INHALE | HOLD | EXHALE</b>
                      <b class="portuguese">INSPIRE | SEGURE | ESPIRE</b>
                  </div>
                  <div class="form-line">
                      <input type="number" value="4" #inhaleInputRB min="1" readonly>
                  </div>
  
                  <div class="form-line">
                      <input type="number" value="7" #hold1InputRB min="1" readonly>
                  </div>
  
                  <div class="form-line">
                      <input type="number" value="8" #exhaleInputRB min="1" readonly>
                  </div>
              </div>
              <div class="RBtimer-container">
                  <select #RBtimeInput class="countdownDisplay">
                      <option value="infinity"> ∞ </option>
                      <option value="60" class="english">1 minute</option>
                      <option value="60" class="portuguese">1 minuto</option>
                  </select>
                  <input #RBcountdownInput class="countdownDisplay" style="display: none;" readonly />
              </div>
              <div class="center-container">
                <button #startBtnRB class="ballButton">
                  <div #RBball class="ball">
                      <span #RBballText></span>
                      <img src="https://brizastorage.blob.core.windows.net/images/3dBall.svg" alt="3D Ball">
                    </div>
                </button>
              </div>   
              <div class="timer-controls">
                  <!--  Information about interval  -->
                  <button type="button" class="stopBtn" id="stopBtnRB" #stopBtnRB><div class="english">Reset</div><div class="portuguese">Resetar</div></button>
                  <button type="button" class="saveBtn" id="RBSave" #RBSave><div class="english">Save</div><div class="portuguese">Salvar</div></button>
                  <form method="post" id="RBForm">
                      <div class="roundbox">
                          <div>Rounds:</div><div #roundsDoneRB>0</div>
                          <div class="english">Total time:</div><div class="portuguese">Tempo Total:</div><div #timerDisplayRB>00 : 00</div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div #RBResultSaved class="resultSaved hiddenElements"><div class="english">Result Succesfully Saved</div><div class="portuguese">Resultado salvo com sucesso</div></div>
    </div>
  </div>
  <div id="myModalRB" class="modal" #myModalRB>
    <div class="modal-content">
        <span class="close" id="closeModalRB" #closeModalRB>&times;</span>
        <div class="slideshow-container">
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">INTRO</div>
                <div class="numbertext portuguese">Introdução</div>
                <img src="https://brizastorage.blob.core.windows.net/images/yogiclines.svg">
                <div class="text english">
                  <p>The 478 breathing technique is based on the principles of deep breathing and diaphragmatic breathing, which have been shown to reduce stress and anxiety by activating the body's relaxation response. 
                    By slowing down the breath and focusing on the pattern of inhalation and exhalation, the mind is able to become more calm and centered.
                    </p> 
                </div>
                <div class="text portuguese">
                  <p>
                    A técnica de respiração 478 é baseada nos princípios da respiração profunda e da respiração diafragmática, que demonstraram reduzir o estresse e a ansiedade ativando a resposta de relaxamento do corpo.
                    Ao desacelerar a respiração e focar no padrão de inalação e exalação, a mente é capaz de se tornar mais calma e centrada.
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">STEP 1</div>
                <div class="numbertext portuguese">Passo 1</div>
                <img src="https://brizastorage.blob.core.windows.net/images/sit.svg">
                <div class="text english">
                  <p>
                    Find a comfortable seat or lay down. Relax your shoulders, face muscles and jaw. Place your tongue on the roof of your mouth, its tip should touch the top of your front teeth
                  </p>
                </div>
                <div class="text portuguese">
                  <p>
                    Encontre um assento confortável ou deite-se. Relaxe os ombros, os músculos faciais e a mandíbula. Coloque sua língua no céu da boca, a ponta deve tocar o topo dos seus dentes da frente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <div class="numbertext english">STEP 2</div>
                <div class="numbertext portuguese">Passo 2</div>
                <img src="https://brizastorage.blob.core.windows.net/images/mindful.svg">
                <div class="text english">
                  <p>
                    Press 'Start' to begin the guided exercise. If you need to pause, just click on the cirlce again.
                  </p>
                </div>
                <div class="text portuguese">
                  <p>
                    Pressione 'Iniciar' e siga a técnica guiada. Salve seus resultados ao final. Se precisar pausar, basta clicar no círculo novamente.
                  </p>
                </div>
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" #RBprev>&#10094;</a>
            <a class="next" #RBnext>&#10095;</a>
        </div>
    </div>
  </div>
</ion-content>