body {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none; /* Disable long tap callout menu on iOS */
    -webkit-user-drag: none; /* Disable dragging on iOS */
    -webkit-tap-highlight-color: transparent; /* Disable tap highlight color on iOS */
    overflow-y: auto;
    height: 100%;
    background-color: white;
}
.logo {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 25px;
}
.form-control {
    margin: auto;
    width: 80% !important;
    height: 50px;
    color: #49B79D !important;
    font-size: 18px !important;
    border-color: #676767;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.676);
    margin-bottom: 20px;
}
::-webkit-input-placeholder {
    color: #49B79D !important;
}

#header{
    background-color: #01213b;
}
.form-button {
    margin: auto;
    height: 50px;
    --background: #0661AA;
    border-radius: 10px;
    text-decoration: none;
    width: 80% !important;
    font-size: 18px !important;
    color: white !important;
    margin-bottom: 20px;
}
.textForm{ 
    margin: auto;
    width: 80% !important;
    height: 50px;
    font-size: 18px !important;
    text-align: center;
    color: #0661AA;
}
.textForm a{ 
    color: #075599 !important;
}
.textForm2{ 
    margin-top: 20px;
    color: #0661AA;
}
#forgotGrid, #registerGrid{
    position: fixed;
    margin-top: 30px;
    width: 100%;
}
#loginGrid{
    width: 100%;
}
#setSettingsPage{
    position: fixed;
    width: 100%;
}
#kbsetSettingsPage, #whsetSettingsPage{
    width: 100%;
}
#homepagegrid, #homepagegridBR, #resultspagegrid, #resultspagegridBR {
    text-align: center;
    max-width: 45rem;
    width: 95%;
    margin: auto;
    margin-top: 8rem;
    height: 100%;
}
#breathpagegrid, #breathpagegridBR {
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    color: #0661AA;
}
#breathpagegrid h3, #breathpagegridBR h3{
    margin-top: 12%;
    font-size: 20px;
    
}
#homegrid, #breathgrid{
    position: fixed;
    width: 100%;
}
#homepagegrid3 {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
#resultspagegrid h1 {
    margin-top: 100px;
}

.container {
    padding: 0;
}
.homepageimgs {
    width: 97%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.22);
    height: 100%;
    background-color: rgba(238, 238, 218, 0.39);
}
.homepageimgs2 {
    width: 97%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.22);
    height: 6rem;
    background-color: rgba(238, 238, 218, 0.39);
}
.homepageimgs3 {
    width: 99%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.22);
    background-color:#49b79d1c;
    margin-bottom: 15px;
}
.homepageimgs4 {
    width: 97%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.22);
    height: 12rem;
    background-color:#49b79d1c;
}
.homepageimgs5 {
    width: 97%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.22);
    height: 12rem;
    background-color:#0660aa1c;
}
.BRTtile {
    width: 97%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.22);
    background-color: #0661AA;
    border-radius: 15px;
}
.BRTtile__img{
    border-radius: 15px;
}
.BRTtile__img2{
    border-radius: 15px;
    height: 6rem;
    width: 100%;
}
/*navbar*/
.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    margin-bottom: 0;
    height: 100px;
    padding: 2rem;
}

.navIcons{
    color: #0661AA;
}
.navbar a {
    float: left;
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
    color: #0661AA;
    font-weight: 500;
}

.fa {
    font-size: 22px !important;
    color: #0661AA;
}

.a .active {
    color: #0661AA !important;
}

.active {
    color: #49B79D !important;
}

#homeFooter, #homeFooterBR, #resultsFooter, #resultsFooterBR, #profileFooter, #profileFooterBR, #breathFooter, #breathFooterBR, #yogaFooter, #yogaFooterBR     {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 6px 10px 5px rgba(0,0,0,0.3);
    z-index: 1;
}
.profileBTN {
    font-size: 18px;
    color: #49B79D;
    border: none;
    text-decoration: none; 
    font-size: 18px;
    color: #49B79D;
    border: none;
    background-color: white;
    font-weight: bold;
    width: 100%;
    margin: auto;
}
.profileBTN2 {
    font-size: 18px;
    color: #49B79D;
    border: none;
    text-decoration: none; 
    font-size: 18px;
    color: #49B79D;
    border: none;
    background-color: white;
    font-weight: bold;
}
.profileMargin{
    margin-bottom: 150px !important;
}
.flexProfile {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.profile {
    text-align: center;
    margin-top: 20px;
    display: grid;    
}
.profileLogin {
    text-align: center;
    margin-top: 40px;
    display: grid;
    margin-bottom: 20px;
}
.profileLogin h2{
    color: #0661AA;
}
.profile a{
    font-size: 18px;
    text-decoration: none;
    color: #0661AA !important;
}
.smallText{
    font-size: 12px;
}
.contactProfile{
    display: flex;
}
.contactProfile p {
    padding: 0 !important;
    font-size: 14px !important;
    margin-right: 15px;
    margin-top: 4px;
}
.profile h2 {
    margin-bottom: 10px !important;
}
.profileLogin h2 {
    margin-bottom: 10px !important;
    margin-top: 30px;
}
.contactProfile {
    display: flex;
    justify-content: center;
}
.flags img {
    max-width: 190px;
}

.logo-container {
    text-align: center;
}
.logo-header{
    text-align: center;
}
.col{
    margin-top: 0;
}
/* Main header styling */
.mainHeader {
    display: flex;
    justify-content: space-between; /* Aligns children (back buttons, logo, placeholder) with space between them */
    align-items: center; /* Centers items vertically */
    background-color: white;
    height: 110px;
    top: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 34px -5px rgba(89, 89, 89, 0.2);
    position: fixed;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

/* Ensures flex items align correctly */
.back-buttons,
.logo-container,
.placeholderHeader {
    flex: 1; /* Each child takes up equal space */
    display: flex; /* Ensure each section uses flex for proper alignment */
    align-items: center; /* Vertically center contents */
}

/* Specific back button container */
.back-buttons {
    justify-content: flex-start; /* Aligns back buttons to the start (left) */
}

/* Logo container settings */
.logo-container {
    justify-content: center; /* Center the logo horizontally */
}

/* Placeholder styling to avoid interaction issues */
.placeholderHeader {
    opacity: 1;
    justify-content: end;
}

/* Go back button styles */
.goback {
    text-decoration: none;
    color: #49B79D !important;
    font-size: 60px; /* Adjust to desired size */
    position: relative; /* Changed from sticky to relative */
    background-color: transparent;
}
.atention{
    width: 100%;
    color: #0661AA;
    text-align: center;
    padding: 10px;
}
/*Breathing pages*/
.breathingpages {
    width: 100%;
    color: #0661AA;
    text-align: center;
    margin-top: 130px;
}
.breathingpages2 {
    width: 100%;
    color: #0661AA;
    text-align: center;
    margin-bottom: 40px;    
}
.breathingpages.BHbreathing{
   margin-bottom: 10px !important;
}
.breathingpages ul {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    text-align: justify;
    padding-bottom: 10px;
}

.breathingpages ul::before {
    content: "\2022";
    color: #49B79D;
    display: inline-block;
    width: 1em;
    
}

.breathingpages p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: justify;
    font-size: 14px;
    
}
.BHGrid p {
    font-size: 20px;
}

.breathingpages h1 {
    text-align: center;
    
}
.breathingpages h2 {
    text-align: center;
    margin-bottom: 0;
    padding-left:10px;
    padding-right: 10px;
    
}
.breathingpages h3 {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    
}
.breathingpages2 h3 {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 20px;
    
}
.breathingpages2 h2 {
    text-align: center;
    margin-bottom: 30px;
    padding: 0.5em;
    
}
.colText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pmenor {
    font-size: 15px !important;
}
.timer-additional-info.BRE {
    font-size: 10px !important;
}
/*BRT Page*/
.timerDisplayBRT {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

input#timerDisplayBRT {
    text-align: center;
    border: none;
    color: #0661AA;
}

input#timerDisplayLungs {
    text-align: center;
    border: none;
    color: #0661AA;
}

.BrtBtns {
    text-align: center;
}
/*Buttons*/
.startBtnBRT {
    color: #0661AA;
    width: 8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
}

.pauseBtnBRT {
    display: none;
    color: #0661AA;
    width: 8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    margin-right: 1rem;
}

.stopBtnBRT {
    color: rgb(177, 177, 177);
    width: 8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    margin-right: 1rem;
}

.saveBtnBRT {
    color: #0661AA;
    width: 8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    height: 38px;
    font-size: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 1rem;
}

.saveBtn {
    color: #0661AA;
    width: 8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    height: 38px;
    font-size: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 1rem;
}
#CTSave{
    margin-top: 20px;
    width: 18rem;
    margin-left: 0;
}

.stopBtn {
    color: rgb(177, 177, 177);
    width: 8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 24px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    margin-right: 1rem;
}

.resetBtn {
    color: #990000;
    width: 8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 24px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    display: none;
    margin-left: 1rem;
}

#CTReset{
    margin-right: 0 !important;
    margin-left: 20px;
}
.saveBtn input {
    color: #49B79D;
    width: 18rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    height: 38px;
}

.resultSaved {
    text-align: center;
    color: #49B79D;
}
.audio,
.audioSong {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
}

.mute,
.muteSong {
    display: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
}

.audioSet {
    border: none;
    border-radius: 5px;
    font-size: 10px;
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    color: #49B79D;
    width: 70px;
}

.audioButtons img {
    width: 20px;
    height: 20px;
}

.settingButtons img {
    height: 50px;
}
/*
* Timer status
*/

.timer-status header {
    color: #0661AA;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.timer-status .box.left-align {
    text-align: left;
}

.timer-overview .box {
    flex: 0 0 50%;
}

.timer-overview .boxHAT {
    flex: 0 0 50%;
    padding-top: 0px;
}

.timer-overview {
    display: flex;
    justify-content: center;
    text-align: center;
}

.boxFontSize {
    font-size: 30px;
}

.spanFontSize {
    font-size: 80px;
}


.timer-additional-info {
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 3rem;
    text-align: center;
}

.timer-additional-info.BRE {
    font-size: 10px !important;
}

.buttonplus {
    font-size: 50px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    color: #49B79D;
    margin-top: -1.5rem;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.49);
}

.buttonminus {
    font-size: 50px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    color: #49B79D;
    margin-top: -1.3rem;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.49);
}
#minusKB, #plusKB, #SminusKB, #SplusKB, #minusWH, #plusWH, #SminusWH, #SplusWH{
    margin-top: 0;
}
.kbSETForm{
    width: 80% !important;
}
.roundbox {
    display: flex;
    font-size: 12px;
    color: #0661AA;
    font-size: 15px;
    justify-content: space-evenly;
}
.form-line{
    width: 3rem;
}
.form-line img{
    height: 3rem;
    opacity: 0.4;
}

.form-line input {
    width: 3rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    color: #49B79D;
    
    text-align: center;
}
.SETWH{
    width: 6rem !important;
}
/*TIMER*/
.main-container {
    display: grid;
    grid-template-areas: "status" "controls" "settings";
    margin-bottom: 1rem;
}

.timer-status {
    grid-area: status;
}

.timer-controls {
    text-align: center;
    margin-top: 30px;
}

.settings-form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.settings-form.BB {
    margin-bottom: 0 !important;
}

.box.boxFontSize {
    height: 15px;
}
.settingsVolBut{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.volume-bar {
    display: flex;
    margin: 1rem 2rem 1rem;
    justify-content: space-between;
}
.volume-bar  h4{
    font-size: 18px !important;
}
.set h4{
    font-size: 18px !important;
}
.settings-formWHKB{
    margin-top: 1rem;
}
.settings-formWHKB h4{
    font-size: 18px !important;
    
}

.settingBreaths{
    width: 80%;
    margin: auto;
}
.volume-bar input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;       /* make it wider */
  background: #ddd;   /* fallback track color */
  border-radius: 8px; /* round corners */
  outline: none;
}

/* Track */
.volume-bar input[type="range"]::-webkit-slider-runnable-track {
  height: 18px; 
  background: linear-gradient(to right, #49b79d, #0661aa);
  border-radius: 10px;
}
.volume-bar input[type="range"]::-moz-range-track {
  height: 18px;
  background: linear-gradient(to right, #49b79d, #0661aa);
  border-radius: 10px;
}

/* Thumb */
.volume-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px; 
  height: 24px; 
  border-radius: 50%;
  background: #fff;
  border: 3px solid #49b79d;
  margin-top: -4px; /* centers thumb in thick track */
  cursor: grab;
}
.volume-bar input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #49b79d;
  cursor: grab;
}
.female{
    margin-left: -2rem;
}
.male{
    margin-left: -1rem;
}
.song-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.song-select {
    width: 300px;
    padding: 10px;
    border: none;
    height: 50px;
    color: #49B79D !important;
    font-size: 18px;
    border-color: #e4e3d442;
}

.NOfSteps {
    display: flex;
    justify-content: space-between;
    width: 17rem;
    margin: auto;
    margin-top: 10px;
}

input#intervalsDoneHAT {
    text-align: center;
}

.BHGrid {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Styling for the accordion */
.accordion-header {
    text-align: center;
    padding: 10px;
    font-size: 28px;
    color: #0661AA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion-item {
    border-top: 0;
    display: none;
    flex-direction: column;
    min-height: 120px;
    padding-top: 30px;
}
.accordion-content {
    padding: 10px 10px 40px 10px;
}
.accordion {
    display: flex;
    flex-direction: column;
    margin-top:10px;
    margin-bottom:120px;
    height: fit-content;
}
.accordion-header2 {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #0661AA;
    border-top: solid 1px;
}

.accordion-content2 {
    display: none;
    padding: 10px 10px 40px 10px;
}

.accordion2 {
    margin-bottom: 0;
}
.resultInput {
    border: none;
    text-align: left;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
    width: 130px;
    vertical-align: top;
}
.chart-container {
    width: 90%;
    max-width: 600px;
    max-height: 400px;
    min-height: 200px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
}

.BRTInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.BRTInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}
.BRTinfoOverview {
    display: inline-flex;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    justify-content: space-between;
}
.BRTinfoOverview input {
    border: none;
    text-align: right;
    color: #0661AA;
    background-color: transparent;
}
#BRTinfoOverview {
    padding: 10px;
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}
#BRTresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#BRTresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}
form.BRTdelete-form {
    display: inline-flex;
    margin-bottom: 30px; 
    line-height: 40px;
    height: 40px;
}

.YBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.YBInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}
.YBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}
.YBinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}
#YBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}
#YBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#YBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}
form.YBdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.BREInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.BREInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}
.BREinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}
.BREinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}
#BREinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}
#BREresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#BREresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}
form.BREdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.BRWInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.BRWInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}
.BRWinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}
.BRWinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}
#BRWinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}
#BRWresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#BRWresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}
form.BRWdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.HUMInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.HUMInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.HUMinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.HUMinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#HUMinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#HUMresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#HUMresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.HUMdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.BBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.BBInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.BBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.BBinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#BBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#BBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#BBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.BBdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.APInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.APInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.APinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.APinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#APinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#APresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#APresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.APdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.CTInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.CTInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.CTinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.CTinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#CTinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#CTresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#CTresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.CTdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.LUNGSInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.LUNGSInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.LUNGSinfoOverview {
    display: inline-flex;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    justify-content: space-between;
}

.LUNGSinfoOverview input {
    border: none;
    text-align: right;
    color: #0661AA;
    background-color: transparent;
    width: 250px;
}

#LUNGSinfoOverview {
    padding: 10px;
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#LUNGSresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#LUNGSresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.LUNGSdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.BOXInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.BOXInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.BOXinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.BOXinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#BOXinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#BOXresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#BOXresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.BOXdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.UBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.UBInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.UBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.UBinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#UBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#UBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#UBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.UBdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.NBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.NBInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.NBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.NBinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#NBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#NBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#NBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.NBdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.SBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.SBInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.SBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.SBinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#SBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#SBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#SBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.SBdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.RBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.RBInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.RBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.RBinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#RBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#RBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#RBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.RBdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.CBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.CBInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.CBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.CBinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#CBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#CBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#CBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.CBdelete-form {
    display: inline-flex;
    margin-bottom: 70px;
    line-height: 40px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.WHInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.WHInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.WHinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.WHinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#WHinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#WHresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#WHresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.WHdelete-form {
    display: grid;
}
.WHresultInput {
    border: none;
    text-align: left;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
}
input.btn.btn-danger.WHdelete-button {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


.KBInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

    .KBInfo h4 {
        font-size: 20px;
        color: #0661AA;
        text-align: center;
    }

.KBinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

    .KBinfoOverview input {
        border: none;
        text-align: center;
        color: #0661AA;
        background-color: transparent;
        margin-bottom: 10px;
    }

#KBinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#KBresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#KBresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.KBdelete-form {
    display: grid;
}

.KBresultInput {
    border: none;
    text-align: left;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
}

input.btn.btn-danger.KBdelete-button {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


.HATInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.HATInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.HATinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.HATinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#HATinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#HATresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#HATresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.HATdelete-form {
    display: grid;
}
.HATresultInput {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
}
input.btn.btn-danger.HATdelete-button {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


.HATCInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.HATCInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.HATCinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.HATCinfoOverview input {
   border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#HATCinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#HATCresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#HATCresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.HATCdelete-form {
    display: grid;
}
.HATCresultInput {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
}
input.btn.btn-danger.HATCdelete-button {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


.AHATInfo {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.AHATInfo h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.AHATinfoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.AHATinfoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#AHATinfoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#AHATresultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#AHATresultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.AHATdelete-form {
    display: grid;
}
.AHATresultInput {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
}
input.btn.btn-danger.AHATdelete-button {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


.O2Info {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.O2Info h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.O2infoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.O2infoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#O2infoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#O2resultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#O2resultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.O2delete-form {
    display: grid;
}
.O2resultInput {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
}
input.btn.btn-danger.O2delete-button {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


.CO2Info {
    width: 100%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.CO2Info h4 {
    font-size: 20px;
    color: #0661AA;
    text-align: center;
}

.CO2infoOverview {
    display: grid;
    width: 100%;
    font-size: 15px;
    color: #0661AA;
    text-align: center;
}

.CO2infoOverview input {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-bottom: 10px;
}

#CO2infoOverview {
    color: #0661AA;
    text-align: center;
    font-size: 15px;
}

#CO2resultDateHeader {
    color: #0661AA;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#CO2resultSessions {
    color: #0661AA;
    text-align: center;
    font-size: 18px;
    display: grid;
    justify-content: center;
}

form.CO2delete-form {
    display: grid;
}
.CO2resultInput {
    border: none;
    text-align: center;
    color: #0661AA;
    background-color: transparent;
    margin-left: 10px;
}
input.btn.btn-danger.CO2delete-button {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.co2o2 img {
    width: 100%;
    margin-top:40px;
}
#WHmodal h4.volumeSettings {
    margin-bottom: 30px;
}
#KBmodal h4.volumeSettings {
    margin-bottom: 30px;
}
#CBmodal .form-line input[type="number"] {
    width: 50px;
}
.spreadExercises{
    margin-top: 20px !important;
}
.countdownDisplay {
    border: 1px solid;
    border-radius: 20px;
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
    color: #0661AA;
    background-color: white;
    width: 10rem;
}
.BBtimer-container{
    text-align: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.ball {
    position: relative;
    width: 150px; /* Set the initial size of the ball */
    height: 150px; /* Set the initial size of the ball */
    transition: transform 0.5s ease;
}
.ball img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 20px 34px rgba(6, 97, 170, 0.08) inset, /* inside shadow */
    3px 6px 33px -4px rgba(0, 0, 0, 0.22);
}

.ball span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #0661AA;
    font-size: 18px;
}
.hiddenElements{
    display: none;
}
li::marker {
    content: '';
}
.breathingpages.BHbreathing {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center; /* Ensure text is centered as well */
}

.breathingpages.BHbreathing h1 {
    flex-grow: 1; /* Allow the title to grow and fill space */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.questionMark button{
    background-color: transparent;
}

.questionIMG {
    height: 35px;
}


/* Next & previous buttons */
.prev, .next {
    top: 20%;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: #49B79D;
    text-decoration: none;
    position: fixed;
    z-index: 1;
}
.prev {
    left: 10%;
}
/* Position the "next button" to the right */
.next {
    right: 10%;
}


.text2 {
    padding: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 0;
}

.fadeModal:not(.show) {
    opacity: 1;
}
.manageSubsModal{
    font-size: 12px !important; 
    margin-top: 1rem;
}

.flexModal {
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
}
.modalPrices {
    border: 2px solid;
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 0px #8080803b;
}
.modalPrices h2{
    font-size: 1rem;
}
.modalPrices h3{
    font-size: 16px;
}
.modalPrices p{
    font-size: 12px;
    margin-top: 0;
    padding: 15px;
}
#monthlyBox {
    background-color: aliceblue;
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #0661AA;
    border-radius: 50%;
    outline: none;
    margin-right: 5px;
    background-color: white;
}
input[type="radio"]:checked {
    background-color: #0661AA !important;
    box-shadow: 1px 1px 5px 0px grey;

}
.subscriptionBtn2 {
    font-size: 22px;
    color: #49B79D;
    border-color: #49B79D;
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 7px 0px #8080803b;
    background-color: white;
}
#subscriptionBtn2 {
    font-size: 18px;
    color: #49B79D;
    border-color: #49B79D;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
.settingButtons {
    z-index: 1;
}
.questionClass {
    z-index: 1;
    margin-top: 5px;
}
.questionClass2 {
    position: absolute;
    top: 55px;
    right: 10px;
    font-size: 30px;
    z-index: 1;
}
.exercisesContent {
    text-align: center;
    color: #0661AA;
    margin-top: 140px !important;
}
.ballButton{
    background-color: transparent;
}

#programPage {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 120px;
}
.guidedBTN {
    width: 90%;
    height: 50px;
    font-size: 25px;
    background-color: #0661AA;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 0px 0px 40px 0px;
}
.guidedBTN2 {
    width: 90%;
    height: 50px;
    font-size: 25px;
    background-color: #0661AA;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 40px 0px 0px 0px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
#resultsPage h1 {
    text-align: center;
    margin-top: 15px;
    color: #0661AA;
}
input#breakDurationInputCB {
    width: 50px;
}
input#intervalDurationInputCB {
    width: 50px;
    margin-left: 0.5rem;
}
#brtPage, #apPage, #bbPage, #boxPage, #brePage, #brwPage, #cbPage, #ctPage, #nbPage, #rbPage, #ubPage, #yogicPage, #custPage, #dbPage {
    margin-top: 15px !important;
    position: fixed;
    width: 100%;
}
#ahatPage, #hatPage, #hatcPage, #kbPage, #whPage{
    margin-top: 15px !important;
    width: 100%;
}
.dim-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust darkness here */
    z-index: 1000;
    display: none;
}

@media only screen and (min-width: 700px) {
    .form-control, .form-button {
        width: 450px !important;
    }
}
@media only screen and (min-width: 500px){
    .form-control, .form-button {
        width: 400px !important;
    }
}

.set{
    margin-top: 0 !important;
}
.results-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
    text-align: center;
    margin-top: 120px;
    margin-bottom: 150px;
}
#noBrtResults {
    width: 90%;
    margin: auto;
}
.results-link {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    color: #49B79D;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}
.calendar {
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
  
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    padding: 5px;
    color: #0661AA;
}
  
.calendar-weekdays,
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 5px;
    color: #49B79D;
}
  
.calendar-day {
    padding: 5px;
    position: relative;
    color: #0661AA;
}
  
.calendar-day.empty {
    opacity: 0;
}
  
.dot {
    width: 5px;
    height: 5px;
    background-color: #0661AA;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}
.calendar-header button {
    background: none;
    border: none;
    color:#0661AA;
}
  
.calendar-weekdays div,
.calendar-day {
    text-align: center;
}
  
.calendar-day.current-day {
    background-color: #49B79D; /* Green for current day */
    color: white;
}

.modal-content2 {
    padding: 1rem;
    text-align: center;
    position: relative;
}
ion-modal>.ion-page {
    overflow-y: auto;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 20px;
    justify-content: space-evenly;
    margin-top: 70px;
}

.modal-header h2 {
    margin: 0;
    color: #49B79D;
    
}

.close-button {
    background-color: transparent;
    border: none;
    color: #0661AA;
    font-size: 20px;
}

.result-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 40px;
    color: #0661AA;
}

.delete-button {
    background-color: #cd0211;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}
.delete-account{
    color: #cd0211;
    font-size: 15px;
    border: none;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: transparent;
}

canvas {
    height: 250px !important;
    font-size: 2px;
    color: #0661AA;
}
.calendarText {
    color: #49B79D;
    margin-top: 20px;
    font-size: 12px;
}
.overview-box {
    width: 90%;
    max-width: 600px;
    background-color: #e4e3d40f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;

h2{
    color: #0661AA;
    font-size: 1.2em;
    margin-bottom: 12px;
}

.overview-item {
    font-size: 0.95em;
    color: #0661AA;
    margin-top: 10px;
}

.feedback {
    color: #0661AA;
    margin-top: 20px;
    font-size: 0.9em;
    line-height: 1.4em;
}   
}
.manage-account {
    margin-top: 130px;
    text-align: center;
    color: #0661AA;
}  
ion-label {
    margin-left: 3rem !important;
    font-size: 14px !important;
    margin-bottom: 15px !important;
    color: #0661AA !important;
}
/* Ensure all form elements have a white background */
input, textarea, select {
    background-color: white !important;
  }
  
  /* Prevent autofill styles from turning the background dark */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: white !important;
}
.sourcelist{
    padding: 20px;
}
#inhaleInputCB, #exhaleInputCB{
    width: 50px;
}