<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback" (click)="goBack()">&#8249;</button>
    </div>
    <div class="logo-container">
      <img class="logoimg" src="assets/images/blogo.png" width="50" height="50" />
    </div>
    <div class="placeholderHeader"></div>
  </header>

  <div class="breathingpages" *ngIf="KBhasData">
    <h1>Kapalabhati</h1>
  </div>

  <div class="chart-container" #KBchartContainer>
    <canvas #KBchartCanvas></canvas>
  </div>

  <div class="overview-box" *ngIf="KBhasData">
    <h2 class="english">Overview</h2>
    <h2 class="portuguese">Visão Geral</h2>
    <div class="overview-item">
      <strong class="english">Longest Round</strong>
      <strong class="portuguese">Rodada Mais Longa</strong>
      <span class="english">{{ KBlongestRound }} on {{ KBlongestRoundDate }}</span>
      <span class="portuguese">{{ KBlongestRound }} no dia {{ KBlongestRoundDate }}</span>
    </div>
     <div class="overview-item">
      <strong class="english">Lifetime Average</strong>
      <strong class="portuguese">Média de todas sessões</strong>
      <span class="english">{{ KBlongestSessionAverage }}</span>
      <span class="portuguese">{{ KBlongestSessionAverage }}</span>
    </div>
    <div class="overview-item">
      <strong class="english">Total Sessions</strong>
      <strong class="portuguese">Total de Sessões</strong>
      <span>{{ KBtotalSessions }}</span>
    </div>
  </div>  
</ion-content>
