<ion-content>
 <header class="mainHeader">
    <div class="back-buttons"> 
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/B_DEGRAD.svg" width="50" height="50" />
    </div>
    <div class="settingButtons">
      <button routerLink="/set" id="settingsHATC" #settingsHATC class="audioSet" type="button"><img src="assets/images/settings.png"></button>
    </div>  
    <div class="questionMark questionClass">
      <button #questionHATC type="button"><img class="questionIMG" src="assets/images/question.png"></button>
    </div>
  </header>  
  <div id="hatcPage">
    <div class="breathingpages">
        <div class="breathingpages">
            <h1 class="volumeSettings english">Altitude Training - Running</h1>
            <h1 class="volumeSettings portuguese">Treino de Altitude - Correndo</h1>
        </div>
        <div class="main-container">
          <div class="timer-status">
              <div class="settings-form HATC">
                  <div class="form-line">
                      <img src="assets/images/hold.png">
                      <input value="∞" #holdInputHATC min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/nor.png">
                    <input type="number" value="60" #normalInputHATC min="1" readonly>
                </div>
              </div>
              <div class="HATCtimer-container">
                  <select #HATCtimeInput class="countdownDisplay">
                      <option value="infinity"> ∞ </option>
                      <option value="1">1 Round</option>
                  </select>
                  <input #HATCcountdownInput class="countdownDisplay" style="display: none;" readonly />
              </div>
              <div class="center-container">
                <button #startBtnHATC class="ballButton">
                  <div #HATCball class="ball">
                      <span #HATCballText></span>
                      <img src="assets/images/3dBall.svg" alt="3D Ball">
                    </div>
                </button>
              </div>   
              <div class="timer-controls">
                  <!--  Information about interval  -->
                  <button type="button" class="stopBtn" id="stopBtnHATC" #stopBtnHATC><div class="english">Next</div><div class="portuguese">Próximo</div></button>
                  <button type="button" class="stopBtn" id="HATCReset" #HATCReset><div class="english">Reset</div><div class="portuguese">Resetar</div></button>
                  <form method="post" id="HATCForm">
                      <button type="button" class="saveBtn" id="HATCSave" #HATCSave><div class="english">Save</div><div class="portuguese">Salvar</div></button>
                      <div class="roundbox">
                          <div>Rounds:</div><div #roundsDoneHATC>0</div>
                          <div class="english">Total time:</div><div class="portuguese">Tempo Total:</div><div #timerDisplayHATC>00 : 00</div>
                      </div>
                  </form>
                  <div #HATCResults></div>
              </div>
          </div>
      </div>
      <div #HATCResultSaved class="resultSaved hiddenElements"><div class="english">Result Succesfully Saved</div><div class="portuguese">Resultado salvo com sucesso</div></div>
    </div>
  </div>
<div id="myModalHATC" class="modal" #myModalHATC>
    <div class="modal-content">
        <span class="close" id="closeModalHATC" #closeModalHATC>&times;</span>
        <div class="slideshow-container">
            <div class="mySlides fadeModal slides">
                <img src="assets/images/mountain.svg">
                <div class="text english">
                  <p>Bring your high altitude training to another level</p>
                </div>
                <div class="text portuguese">
                  <p>Eleve seu treinamento de alta altitude para outro nível</p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/walk.svg">
              <div class="text english">
                <p>
                  Breathe normally for about 1 minute while running or cycling
                </p>
              </div>
              <div class="text portuguese">
                <p>
                  Respire normalmente por cerca de 1 minuto enquanto corre ou anda de bicicleta
                </p>
              </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/start.jpg">
              <div class="text english">
                <p>
                  Whenever you're ready, press "Start"
                </p>
              </div>
              <div class="text portuguese">
                <p>
                  Quando estiver pronto, pressione "Iniciar"
                </p>
              </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/hold.png">
              <div class="text english">
                <p>
                  Exhale, pinch your nose, hold your breath and keep on running                   
                </p>
              </div>
              <div class="text portuguese">
                <p>
                  Espire, aperte o nariz, segure a respiração e continue correndo                   
                </p>
              </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/next.jpg">
              <div class="text english">
                <p>
                  The timer will count how long you can hold your breath while running. Once you feel a strong air hunger and no longer can hold your breath, press "Next"                    
                </p>
              </div>
              <div class="text portuguese">
                <p>
                  O cronômetro contará quanto tempo você consegue segurar a respiração enquanto corre. Uma vez que você sentir uma forte necessidade de ar e não conseguir mais segurar a respiração, pressione "Próximo"                    
                </p>
              </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/nor.png">
                <div class="text english">
                  <p>
                    Keep running, and breathe normally for 60 seconds, after this a new round will start
                  </p>
                </div>
                <div class="text portuguese">
                  <p>
                    Continue correndo e respire normalmente por 60 segundos, após isso uma nova rodada começará
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/pause.jpg">
                <div class="text english">
                  <p>
                    You can click on the circle if you need to pause the exercise
                  </p>
                </div>
                <div class="text portuguese">
                  <p>
                    Se precisar pausar, basta clicar no círculo novamente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/mindful.svg">
                <div class="text english">
                  <p>
                    When holding your breath, aim to hold it for as long as you can. However, avoid pushing yourself to the point of feeling dizzy or struggling to recover your breath gently</p>
                </div>
                <div class="text portuguese">
                  <p>
                    Quando prender a respiração, tente segurá-la o máximo que conseguir. No entanto, evite forçar a ponto de sentir tontura ou dificuldade em recuperar a respiração de forma suave</p>
                </div>
            </div>
            <div class="dots" #HATCdots role="tablist" aria-label="Slideshow pagination"></div>
        </div>
      </div>
  </div>
</ion-content>