.video-list {
  padding: 16px;
}

.section-subtitle {
  color: #49B79D;
  text-align: center;
}
.video-subtitle {
  color: #0661AA;
  font-size: 14px;
}
.filters{
  display: flex;
  justify-content: space-around;
}
.duration-filter, .keyword-filter  {
  color: #0661AA;
  width: 10rem;
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
}
.keyword-filter {
  ion-item {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  ion-input {
    flex: 1;                /* always take full width */
    min-width: 0;           /* prevent text from forcing resize */
    --padding-start: 10px;  /* left padding */
    --padding-end: 10px;    /* right padding */
    --color: #0661AA;       /* typed text */
    --placeholder-color: #0661AA;
    --placeholder-opacity: 0.7;
    caret-color: #0661AA;
  }

  ion-buttons {
    margin-left: -1.9rem;
  }
}


.video-card {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  position: relative;
}

.video-thumb {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.video-info {
  margin-left: 12px;
  height: 3rem;
}
.video-info h3{
  color: #0661AA;
  font-size: 16px !important;
}

.play-button {
  display: none;
}

.video-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-player-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.duration-filter {
  select {
    font-size: 16px;
    border: 1px solid;
    height: 45px;
    width: 9rem;
    border-radius: 10px;
  }
}
.no-videos{
  text-align: center;
  color: #0661AA;
}

