.managButton{
  color: #49b79d;
  --ion-color-primary: white;
}
.admin-stats{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.adminstat {
  display: flex;
}
.label{
  font-size: 20px;
}
.value{
  font-size: 20px;
  margin-left: 20px;
}
h2{
  color: #49b79d;
  margin-top: 15px;
}