<ion-content>
  <header class="mainHeader">
      <div class="back-buttons">
          <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
      </div>
      <div class="logo-container">
          <img class="logoimg" src="https://brizastorage.blob.core.windows.net/images/B_DEGRAD.svg" width="50" height="50" />
      </div>
      <div class="placeholderHeader"></div> <!-- Placeholder to balance the flexbox layout -->
  </header>  
  <div id="allProgramPage" #allProgramPage class="english" >
      <div class="breathingpages BHbreathing">
        <h1>All Briza Program Exercises</h1>
      </div>
      <div class="BHGrid">
        <div class="row g-2">
            <div class="col"><a routerLink="/bb"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/brizabreathing.svg" /></a></div>
            <div class="col"><a routerLink="/yogic"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/yogic.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/bre"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/breathrecoverysit.svg" /></a></div>
            <div class="col"><a routerLink="/brw"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalking.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/ct"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/tolerance2.svg" /></a></div>
            <div class="col"><a routerLink="/hat"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/hat.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/hatc"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/hatcycling.svg" /></a></div>
            <div class="col"><a routerLink="/ahat"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/advancedhat.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/lungs"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/lungsexpansion2.svg"></a></div>
            <div class="col"><a routerLink="/wh"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/guidedhyper2.svg"></a></div>
        </div>
    </div>
  </div>
  <div id="allProgramPageBR" #allProgramPageBR class="portuguese">
      <div class="breathingpages BHbreathing">
        <h1>Todos os Exercícios do Programa Briza</h1>
      </div>
      <div class="BHGrid">
        <div class="row g-2">
            <div class="col"><a routerLink="/bb"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/brizabreathingPT.svg" /></a></div>
            <div class="col"><a routerLink="/yogic"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/yogicPT.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/bre"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/breathrecoverysitPT.svg" /></a></div>
            <div class="col"><a routerLink="/brw"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/breathrecoverywalkingPT.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/ct"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/tolerancia2.svg" /></a></div>
            <div class="col"><a routerLink="/hat"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/hatPT.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/hatc"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/hatcyclingPT.svg" /></a></div>
            <div class="col"><a routerLink="/ahat"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/advancedhatPT.svg" /></a></div>
            <div class="w-100"></div>
            <div class="col"><a routerLink="/lungs"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/expansaopulmonar2.svg"></a></div>
            <div class="col"><a routerLink="/wh"><img class="homepageimgs"  src="https://brizastorage.blob.core.windows.net/images/guiadahiper2.svg"></a></div>
        </div>
    </div>
  </div>
</ion-content>