<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback"></button>
    </div>
    <div class="logo-container">
      <img
        class="logoimg"
        src="assets/images/B_DEGRAD.svg"
        width="50"
        height="50"
      />
    </div>
    <div class="placeholderHeader"></div>
  </header>
  <div class="breathingpages">
    <h2  *ngIf="isPortuguese" >Conta</h2>
    <h2    *ngIf="!isPortuguese" >Account</h2>
    <div class="flexProfile">
      <div #userEmail></div>
    </div>
    <ion-button 
      *ngIf="isAdmin()" 
      expand="block" 
      class="managButton"      
      (click)="goToAdminComments()">
      Administrators only
    </ion-button>
    <div class="flexProfile">
      <a
          *ngIf="isPortuguese" class="profileBTN2"
        [class.disabled]="!isOnline"
        (click)="navigateToPage('/manageAccount', $event)"
        >GERENCIAR CONTA</a
      >
      <a
          *ngIf="!isPortuguese" class="profileBTN2"
        [class.disabled]="!isOnline"
        (click)="navigateToPage('/manageAccount', $event)"
        >MANAGE ACCOUNT</a
      >
      <a (click)="!isLoggingOut && onLogout()" [class.blinking]="isLoggingOut" class="profileBTN2">
        LOGOUT
      </a>      
    </div>
    <hr />
    <!-- Subscription (always one button now) -->
    <div class="profile">
      <h2  *ngIf="isPortuguese" >Assinatura</h2>
      <h2    *ngIf="!isPortuguese" >Subscription</h2>

      <div class="manageMembership profile">
        <button
          type="button"
          class="profileBTN"
          [class.disabled]="!isOnline"
          (click)="onManageSubscriptionClick($event)">
          {{ isPortuguese ? 'GERENCIAR ASSINATURA' : 'MANAGE SUBSCRIPTION' }}
        </button>
        <p   *ngIf="isPortuguese" class="profiletext" >
          Gerencie sua assinatura, atualize os detalhes de pagamento ou cancele a qualquer momento
        </p>
        <p   *ngIf="!isPortuguese" class="profiletext">
          Manage your subscription, update payment details, or cancel anytime
        </p>
      </div>
    </div>
    <hr />
    <div class="textForm2 profile">
      <h2 *ngIf="isPortuguese">Idioma</h2>
      <h2   *ngIf="!isPortuguese">Language</h2>
      <div class="flags">
        <a #portuguese   *ngIf="!isPortuguese" class="langBtn">Trocar para Português</a>
        <a #english   *ngIf="isPortuguese" class="langBtn">Change to English</a>
      </div>
    </div>
    <hr />
    <div class="profile">
      <h2  *ngIf="isPortuguese" >Contato</h2>
      <h2    *ngIf="!isPortuguese" >Contact</h2>
      <div class="contactProfile">
        <p>Email</p>
        <a href="mailto:info@brizabreath.com">info&#64;brizabreath.com</a>
      </div>
      <div class="contactProfile">
        <p>Website</p>
        <a href="https://www.brizabreath.com/" target="_blank">brizabreath.com</a>
      </div>
      <div class="contactProfile">
        <p>Instagram</p>
        <a href="https://www.instagram.com/brizabreath/" target="_blank">brizabreath</a>
      </div>
    </div>
    <hr />
  <div class="profile">
    <h2>Newsletter</h2>
    <div class="newsletterSection">
      <p class="profiletext" *ngIf="newsletterActive && isPortuguese">Você está inscrito na nossa newsletter</p>
      <p class="profiletext" *ngIf="newsletterActive && !isPortuguese">You are subscribed to our newsletter</p>

      <p class="profiletext" *ngIf="!newsletterActive && isPortuguese">Você não está inscrito na nossa newsletter</p>
      <p class="profiletext" *ngIf="!newsletterActive && !isPortuguese">You are not subscribed to our newsletter</p>
      <button
        type="button"
        class="profileBTN"
        *ngIf="newsletterActive && isPortuguese"
        (click)="toggleNewsletter(false)"
      >
        CANCELAR
      </button>
      <button
        type="button"
        class="profileBTN"
        *ngIf="newsletterActive  && !isPortuguese"
        (click)="toggleNewsletter(false)"
      >
        UNSUBSCRIBE
      </button>
      <button
        type="button"
        class="profileBTN"
        *ngIf="!newsletterActive && !isPortuguese"
        (click)="toggleNewsletter(true)"
      >
        SUBSCRIBE
      </button>
      <button
        type="button"
        class="profileBTN"
        *ngIf="!newsletterActive && isPortuguese"
        (click)="toggleNewsletter(true)"
      >
        ISCREVER-SE
      </button>
    </div>
  </div>

    <hr />
    <div class="profile termsPrivacyBtn profileMargin">
      <a
        id="TermsBtn"
        *ngIf="isPortuguese"
        href="https://brizabreath.com/terms-conditions/"
        target="_blank"
        >Termos e Condições</a
      >
      <a
        id="PrivacyBtn"
        *ngIf="isPortuguese"
        href="https://brizabreath.com/privacy-policy"
        target="_blank"
        >Política de Privacidade</a
      >
      <a
        id="TermsBtn"
          *ngIf="!isPortuguese"
        href="https://brizabreath.com/terms-conditions/"
        target="_blank"
        >Terms & Conditions</a
      >
      <a
        id="PrivacyBtn"
          *ngIf="!isPortuguese"
        href="https://brizabreath.com/privacy-policy"
        target="_blank"
        >Privacy Policy</a
      >
      <a
        id="sourceBtn"
        routerLink="/sources"
        >Sources List</a
      >
    </div>
  </div>
  <footer id="profileFooter"  *ngIf="isPortuguese" >
    <div class="navbar">
      <a class="navIcons" routerLink="/breathwork"><i class="fa fa-home"></i>Home</a>
      <a class="navIcons" routerLink="/home"><i class="fa fa-fire"></i>Breathwork</a>
      <a class="navIcons" routerLink="/yoga"><i class="fa fa-sun-o"></i>Yoga</a>
      <a class="navIcons" routerLink="/bpr"><i class="fa fa-line-chart"></i>Resultados</a>
      <a class="active"><i class="fa fa-user active"></i>Perfil</a>
    </div>
  </footer>
  <footer id="profileFooter"    *ngIf="!isPortuguese" >
    <div class="navbar">
      <a class="navIcons" routerLink="/breathwork"><i class="fa fa-home"></i>Home</a>
      <a class="navIcons" routerLink="/home"><i class="fa fa-fire"></i>Breathwork</a>
      <a class="navIcons" routerLink="/yoga"><i class="fa fa-sun-o"></i>Yoga</a>
      <a class="navIcons" routerLink="/bpr"><i class="fa fa-line-chart"></i>Results</a>
      <a class="active"><i class="fa fa-user active"></i>Profile</a>
    </div>
  </footer>
</ion-content>
