<div class="logo" [ngClass]="{ 'blinking': isLoggingIn }">
  <img src="assets/images/splash.png" width="250" height="100" />
</div>

<ion-content>
  <div id="forgotGrid">
    <form (submit)="onSubmit()">
      <ion-item>
        <ion-input
          class="form-control"
          type="email"
          [(ngModel)]="email"
          name="email"
          [placeholder]="isPortuguese ? 'E-mail' : 'Email'"
          required>
        </ion-input>
      </ion-item>

      <ion-button class="form-button" expand="block" type="submit" [disabled]="isLoggingIn">
        {{
          isLoggingIn
            ? (isPortuguese ? 'Carregando...' : 'Loading...')
            : (isPortuguese ? 'Mandar link' : 'Send reset link')
        }}
      </ion-button>

      <p class="textForm" *ngIf="resetError" style="color: red; text-align: center;">
        {{ resetError }}
      </p>

      <p class="textForm" *ngIf="resetSuccess" style="color: green; text-align: center;">
        {{ isPortuguese ? 'Verifique seu e-mail para redefinir a senha' : 'Check your email for reset instructions. If you cannot find it, check spam box' }}
      </p>
    </form>

    <p class="textForm" style="text-align:center; margin-top: 100px;">
      <a routerLink="/login">
        {{ isPortuguese ? 'Voltar ao login' : 'Back to login' }}
      </a>
    </p>
  </div>
</ion-content>
