<div class="logo" [ngClass]="{ 'blinking': isLoggingIn }">
  <img src="https://brizastorage.blob.core.windows.net/images/brizalogo.png" width="250" height="100" />
</div>

<ion-content>
  <form (submit)="onSubmit()">
    <ion-item>
      <ion-input
        class="form-control"
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required>
      </ion-input>
    </ion-item>
    <ion-button class="form-button" expand="block" type="submit" [disabled]="isLoggingIn">
      {{ isLoggingIn ? (isPortuguese ? 'Carregando...' : 'Loading...') : 'Send Reset Link' }}
    </ion-button>
    <p class="textForm" *ngIf="resetError" style="color: red; text-align: center;">{{ resetError }}</p>
    <p class="textForm" *ngIf="resetSuccess" style="color: green;">Check your email for reset instructions.</p>
  </form>
  <p class="textForm"><a routerLink="/login">Back to login</a></p>
</ion-content>
