<ion-content>
  <header class="mainHeader">
    <div class="back-buttons"> 
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/B_DEGRAD.svg" width="50" height="50" />
    </div>
    <div class="settingButtons">
      <button routerLink="/set" id="BRTSettings" #BRTSettings class="audioSet" type="button"><img src="assets/images/settings.png" id="hp-settings"></button>
    </div>  
    <div class="questionMark questionClass">
      <button #questionBRT type="button"><img class="questionIMG" src="assets/images/question.png" id="hp-question"></button>
    </div>
  </header>  
    <div id="brtPage">
    <div class="breathingpages">
        <div class="breathingpages">
            <h1 class="volumeSettings english">Briza Retention Test</h1>
            <h1 class="volumeSettings portuguese">Teste de Retenção Briza</h1>
        </div>
        <div class="main-container">
          <div class="timer-status">
              <div class="settings-form AP">
                  <div class="form-line">
                      <img src="assets/images/in.png">
                      <input type="number" value="3" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/out.png">
                      <input type="number" value="3" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/hold.png">
                      <input value="∞" readonly>
                  </div>
              </div>
              <div class="center-container">
                <button #brtStart class="ballButton" >
                  <div #BRTball class="ball">
                      <span #BRTballText></span>
                      <img src="assets/images/3dBall.svg" alt="3D Ball" id="hp-ball">
                    </div>
                </button>
              </div> 
              <div class="timer-controls" id="hp-controls">
                  <!--  Information about interval  -->
                  <button type="button" class="stopBtn" id="brtStop" #brtStop><div class="english">Reset</div><div class="portuguese">Resetar</div></button>
                  <button type="button" class="saveBtnBRT" id="brtSave" #brtSave><div class="english">Save</div><div class="portuguese">Salvar</div></button>
                  <form method="post" id="brtForm">
                    <div class="timerDisplayBRT hiddenElements">
                      <input id="timerDisplayBRT" #timerDisplayBRT readonly value="00 : 00" />
                    </div>
                  </form>
              </div>
          </div>
      </div>
    <div id="brtResultSaved" #brtResultSaved class="resultSaved"><div class="english">Result Succesfully Saved</div><div class="portuguese">Resultado salvo com sucesso</div></div>
    </div>
  </div>
  <div id="myModalBRT" class="modal" #myModalBRT>
    <div class="modal-content">
      <span class="close" id="closeModalBRT" #closeModalBRT>&times;</span>
      <div class="slideshow-container">
          <div class="mySlides fadeModal slides">
              <img src="assets/images/sandTimer.svg">
              <div class="text english">
                <p>The Briza Retention Test measures the breath-holding time with empty lungs, offering insights into your breathing efficiency</p>
              </div>
              <div class="text portuguese">
                <p>O Teste de Retenção Briza mede o tempo de retenção da respiração com os pulmões vazios, oferecendo informações sobre sua eficiência respiratória</p>              
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/start.jpg">
              <div class="text english">
                  <p>
                     Find a comfortable seat and press 'Start'
                  </p>
              </div>
              <div class="text portuguese">
                  <p>
                    Sente-se confortávelmente e clique em 'Iniciar'
                  </p>
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/in.png">
              <div class="text english">
                  <p>
                   Gently inhale for 3 seconds
                  </p>
              </div>
              <div class="text portuguese">
                  <p>
                    Gentilmente inspire por 3 segundos
                  </p>
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/out.png">
              <div class="text english">
                  <p>
                   Gently exhale for 3 seconds
                  </p>
              </div>
              <div class="text portuguese">
                  <p>
                    Gentilmente espire por 3 segundos
                  </p>
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/nosepinch.svg">
              <div class="text english">
                  <p>
                    Pinch your nose
                  </p>
              </div>
              <div class="text portuguese">
                  <p>
                   Pince o nariz
                  </p>
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/hold.png">
              <div class="text english">
                  <p>
                    Hold your breath until you feel the first urge to breathe
                  </p>
              </div>
              <div class="text portuguese">
                  <p>
                   Prenda a respiração até sentir a primeira vontade de respirar
                  </p>
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/pause.jpg">
              <div class="text english">
                  <p>
                    Click on circle to pause, then return to your normal breathing pattern, which should be calm and controlled
                  </p>
              </div>
              <div class="text portuguese">
                <p> Clique no círculo para pausar e depois retorne ao seu padrão respiratório normal, que deve ser calmo e controlado</p>
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/save.jpeg">
              <div class="text english">
                  <p>Remember to save your score to monitor your progress</p>
              </div>
              <div class="text portuguese">
                <p>Salve sua pontuação para acompanhar seu progresso.</p>
              </div>
          </div>
          <div class="mySlides fadeModal slides">
              <img src="assets/images/mindful.svg">
              <div class="text english">
                  <p>
                    Keep in mind, this isn't a competition. Stop the timer the moment you feel the slightest urge to breathe, to guarantee precise results
                  </p>
              </div>
              <div class="text portuguese">
                  <p>Lembre-se, isso não é uma competição. Pause o cronômetro assim que sentir uma leve vontade de respirar para garantir resultados precisos</p>
              </div>
          </div>
          <div class="dots" #BRTdots role="tablist" aria-label="Slideshow pagination"></div>
      </div>
  </div>
</div>
</ion-content>