.modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;

    h1{
      margin-top: 4rem !important;
    }
    p{
      margin-top: 20px !important;
    }
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
  }
  
  .flexModal {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .modalPrices {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 45%;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0661AA;
    color: white;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .manageSubmit{
    margin-top: 1rem;
  }
  .ulManage{
    margin-bottom: 1rem !important;
  }
  