<ion-content>
 <header class="mainHeader">
    <div class="back-buttons"> 
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/blogo.png" width="50" height="50" />
    </div>
    <div class="placeholderHeader"> <!-- Placeholder to balance the flexbox layout -->
      <div class="settingButtons">
        <button routerLink="/set" id="settingsAHAT" #settingsAHAT class="audioSet" type="button"><img src="assets/images/settings.png"></button>
      </div>  
      <div class="questionMark questionClass">
        <button #questionAHAT type="button"><img class="questionIMG" src="assets/images/question.png"></button>
      </div>
    </div>
  </header>  
  <div id="ahatPage">
    <div class="breathingpages">
        <div class="breathingpages">
            <h1 class="volumeSettings"  *ngIf="!isPortuguese">Altitude Training - Pro</h1>
            <h1 class="volumeSettings"  *ngIf="isPortuguese">Treino de Altitude - Pro</h1>
        </div>
        <div class="main-container">
          <div class="timer-status">
              <div class="settings-form AHAT">
                  <div class="form-line">
                      <img src="assets/images/hold.png">
                      <input value="∞" #holdInputAHAT min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/lit.png">
                      <input type="number" value="15" #lightInputAHAT min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/nor.png">
                    <input type="number" value="30" #normalInputAHAT min="1" readonly>
                </div>
              </div>
              <div class="AHATtimer-container">
                  <select #AHATtimeInput class="countdownDisplay">
                      <option value="infinity"> ∞ </option>
                      <option value="1">1 Round</option>
                  </select>
                  <input #AHATcountdownInput class="countdownDisplay" style="display: none;" readonly />
              </div>
              <div class="center-container">
                <button #startBtnAHAT class="ballButton">
                  <div #AHATball class="ball">
                      <span #AHATballText></span>
                      <img src="assets/images/3dBall.png" alt="3D Ball">
                    </div>
                </button>
              </div>   
              <div class="timer-controls">
                  <!--  Information about interval  -->
                  <button type="button" class="stopBtn" id="AHATReset" #AHATReset><div   *ngIf="!isPortuguese">Reset</div><div  *ngIf="isPortuguese">Resetar</div></button>
                  <button type="button" class="saveBtn" id="AHATSave" #AHATSave><div   *ngIf="!isPortuguese">Save</div><div  *ngIf="isPortuguese">Salvar</div></button>
                  <form method="post" id="AHATForm">
                      <div class="roundbox">
                          <div>Rounds:</div><div #roundsDoneAHAT>0</div>
                          <div   *ngIf="!isPortuguese">Total time:</div><div  *ngIf="isPortuguese">Tempo Total:</div><div #timerDisplayAHAT>00 : 00</div>
                      </div>
                  </form>
                  <div #AHATResults></div>
              </div>
          </div>
      </div>
      <div #AHATResultSaved class="resultSaved hiddenElements"><div   *ngIf="!isPortuguese">Result Succesfully Saved</div><div  *ngIf="isPortuguese">Resultado salvo com sucesso</div></div>
    </div>
  </div>
  <div id="myModalAHAT" class="modal" #myModalAHAT>
    <div class="modal-content">
        <span class="close" id="closeModalAHAT" #closeModalAHAT>&times;</span>
        <div class="autoPlayBtnContainer">
          <!--<button type="button" class="autoPlayBtn" (click)="toggleInstructions()">
            {{ instructionsActive ? '⏹ Stop Instructions' : '▶ Play Instructions' }}
          </button>-->
        </div>
        <div class="slideshow-container">
            <div class="mySlides fadeModal slides">
                <img src="assets/images/mountain.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>Bring your altitude training to another level</p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>Eleve seu treinamento de alta altitude para outro nível</p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/walk.svg">
              <div class="text"  *ngIf="!isPortuguese">
                <p>
                  Breathe normally for about 1 minute while running or cycling
                </p>
              </div>
              <div class="text"  *ngIf="isPortuguese">
                <p>
                  Respire normalmente por cerca de 1 minuto enquanto corre ou anda de bicicleta
                </p>
              </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/start.jpg">
              <div class="text"  *ngIf="!isPortuguese">
                <p>
                  Whenever you're ready, press "Start"
                </p>
              </div>
              <div class="text"  *ngIf="isPortuguese">
                <p>
                  Quando estiver pronto, pressione "Iniciar"
                </p>
              </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/hold.png">
              <div class="text"  *ngIf="!isPortuguese">
                <p>
                  Exhale, pinch your nose, hold your breath and keep on running                   
                </p>
              </div>
              <div class="text"  *ngIf="isPortuguese">
                <p>
                  Espire, aperte o nariz, segure a respiração e continue correndo                   
                </p>
              </div>
            </div>
            <div class="mySlides fadeModal slides">
              <img src="assets/images/next.jpg">
              <div class="text"  *ngIf="!isPortuguese">
                <p>
                  The timer will count how long you can hold your breath while running. Once you feel a strong air hunger and no longer can hold your breath, press the circle again                      
                </p>
              </div>
              <div class="text"  *ngIf="isPortuguese">
                <p>
                  O cronômetro contará quanto tempo você consegue segurar a respiração enquanto corre. Uma vez que você sentir uma forte necessidade de ar e não conseguir mais segurar a respiração, pressione "Próximo"                    
                </p>
              </div>
            </div>
              <div class="mySlides fadeModal slides">
                <img src="assets/images/lit.png">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Do not stop running. Inhale and try to breathe as light as possible for 15 seconds, if you cannot breathe light that means you held it for too long
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Não pare de correr. Inspire e tente respirar o mais levemente possível por 15 segundos. Se não conseguir respirar levemente, significa que segurou a respiração por muito tempo
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/nor.png">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    Keep running, and breathe normally for 30 seconds, after this a new round will start
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Continue correndo e respire normalmente por 30 segundos, após isso uma nova rodada começará
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/pause.jpg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    You can click on the circle if you need to pause the exercise
                  </p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Se precisar pausar, basta clicar no círculo novamente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/mindful.svg">
                <div class="text"  *ngIf="!isPortuguese">
                  <p>
                    When holding your breath, aim to hold it for as long as you can. However, avoid pushing yourself to the point of feeling dizzy or struggling to recover your breath gently</p>
                </div>
                <div class="text"  *ngIf="isPortuguese">
                  <p>
                    Quando prender a respiração, tente segurá-la o máximo que conseguir. No entanto, evite forçar a ponto de sentir tontura ou dificuldade em recuperar a respiração de forma suave</p>
                </div>
            </div>
            <div class="dots" #AHATdots role="tablist" aria-label="Slideshow pagination"></div>
        </div>
      </div>
  </div>
</ion-content>