<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback"></button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/blogo.png" loading="eager" decoding="sync" fetchpriority="high" width="50" height="50" />
    </div>
    <div class="placeholderHeader"></div> <!-- Placeholder to balance the flexbox layout -->
  </header>  
  <div id="homegrid">
  <div id="homepagegrid"   *ngIf="!isPortuguese">
    <a routerLink="/program"><img id="hp-program" class="homepageimgs3" src="assets/images/bp.svg" loading="eager" decoding="sync" fetchpriority="high" /></a>
    <div class="row g-2">
        <div class="col"><a routerLink="/prana"><img id="hp-prana" class="homepageimgs" src="assets/images/prana.svg" loading="eager" decoding="sync" fetchpriority="high" /></a></div>
        <div class="col"><a routerLink="/bh"><img id="hp-bh" class="homepageimgs" src="assets/images/bh.svg" loading="eager" decoding="sync" fetchpriority="high" /></a></div>
        <div class="w-100"></div>
        <div class="col"><a routerLink="/lungs"><img id="hp-lungs" class="homepageimgs"  src="assets/images/lungs.svg" loading="eager" decoding="sync" fetchpriority="high"></a></div>
        <div class="col"><a routerLink="/cust"><img id="hp-cust" class="homepageimgs" src="assets/images/cust.svg" loading="eager" decoding="sync" fetchpriority="high" /></a></div>
    </div>
  </div>
  <footer id="homeFooter"   *ngIf="!isPortuguese">
    <div class="navbar">
      <a class="navIcons" routerLink="/breathwork"><i class="fa fa-home"></i>Home</a>
      <a class="active"><i class="fa fa-fire active"></i>Breathwork</a>
      <a class="navIcons" routerLink="/yoga" id="hp-yoga"><i class="fa fa-sun-o"></i>Yoga</a>
      <a class="navIcons" routerLink="/bpr" id="hp-bpr"><i class="fa fa-line-chart"></i>Results</a>
      <a class="navIcons" routerLink="/profile" id="hp-profile"><i class="fa fa-user"></i>Profile</a>
    </div>
  </footer>
  <div id="homepagegridBR" *ngIf="isPortuguese">
    <a routerLink="/program"><img id="hp-programPT" class="homepageimgs3" src="assets/images/bpPT.svg" loading="eager" decoding="sync" fetchpriority="high" loading="eager" decoding="sync" fetchpriority="high"/></a>
    <div class="row g-2">
        <div class="col"><a routerLink="/prana"><img id="hp-pranaPT" class="homepageimgs" src="assets/images/pranaPT.svg" loading="eager" decoding="sync" fetchpriority="high" /></a></div>
        <div class="col"><a routerLink="/bh"><img id="hp-bhPT" class="homepageimgs" src="assets/images/bhPT.svg" loading="eager" decoding="sync" fetchpriority="high" /></a></div>
        <div class="w-100"></div>
        <div class="col"><a routerLink="/lungs"><img id="hp-lungsPT" class="homepageimgs"  src="assets/images/lungsPT.svg" loading="eager" decoding="sync" fetchpriority="high"></a></div>
        <div class="col"><a routerLink="/cust"><img id="hp-custPT" class="homepageimgs" src="assets/images/custPT.svg" loading="eager" decoding="sync" fetchpriority="high" /></a></div>
    </div>
  </div>
  </div>
  <footer id="homeFooterBR" *ngIf="isPortuguese">
    <div class="navbar">
      <a class="navIcons" routerLink="/breathwork"><i class="fa fa-home"></i>Home</a>
      <a class="active"><i class="fa fa-fire active"></i>Breathwork</a>
      <a class="navIcons" routerLink="/yoga" id="hp-yogaPT"><i class="fa fa-sun-o"></i>Yoga</a>
      <a class="navIcons" routerLink="/bpr" id="hp-bprPT"><i class="fa fa-line-chart"></i>Resultados</a>
      <a class="navIcons" routerLink="/profile" id="hp-profilePT"><i class="fa fa-user"></i>Perfil</a>
    </div>
  </footer>
</ion-content>