<ion-content>
  <header class="mainHeader">
    <div class="back-buttons"> 
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/B_DEGRAD.svg" width="50" height="50" />
    </div>
    <div class="settingButtons">
      <button routerLink="/set" id="settingsUB" #settingsUB class="audioSet" type="button"><img src="assets/images/settings.png"></button>
    </div>  
    <div class="questionMark questionClass">
      <button #questionUB type="button"><img class="questionIMG" src="assets/images/question.png"></button>
    </div>
  </header>  
  <div id="ubPage">
    <div class="breathingpages">
        <div class="breathingpages">
            <h1 class="volumeSettings">Ujjayi</h1>
        </div>
        <div class="main-container">
          <div class="timer-status">
              <div class="settings-form UB">
                  <div class="form-line">
                    <button class="buttonminus" type="button" #minusUB>-</button>
                  </div>  
                  <div class="form-line">
                      <img src="assets/images/in.png">
                      <input type="number" value="4" #inhaleInputUB min="1" readonly>
                  </div>
                  <div class="form-line">
                      <img src="assets/images/out.png">
                      <input type="number" value="4" #exhaleInputUB min="1" readonly>
                  </div>
                <div class="form-line">
                  <button class="buttonplus" type="button" #plusUB>+</button>
              </div>
              </div>
              <div class="UBtimer-container">
                  <select #UBtimeInput class="countdownDisplay">
                      <option value="infinity"> ∞ </option>
                      <option value="60" class="english">1 minute</option>
                      <option value="60" class="portuguese">1 minuto</option>
                  </select>
                  <input #UBcountdownInput class="countdownDisplay" style="display: none;" readonly />
              </div>
              <div class="center-container">
                <button #startBtnUB class="ballButton">
                  <div #UBball class="ball">
                      <span #UBballText></span>
                      <img src="assets/images/3dBall.svg" alt="3D Ball">
                    </div>
                </button>
              </div>   
              <div class="timer-controls">
                  <!--  Information about interval  -->
                  <button type="button" class="stopBtn" id="stopBtnUB" #stopBtnUB><div class="english">Reset</div><div class="portuguese">Resetar</div></button>
                  <button type="button" class="saveBtn" id="UBSave" #UBSave><div class="english">Save</div><div class="portuguese">Salvar</div></button>
                  <form method="post" id="UBForm">
                      <div class="roundbox">
                          <div>Rounds:</div><div #roundsDoneUB>0</div>
                          <div class="english">Total time:</div><div class="portuguese">Tempo Total:</div><div #timerDisplayUB>00 : 00</div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div #UBResultSaved class="resultSaved hiddenElements"><div class="english">Result Succesfully Saved</div><div class="portuguese">Resultado salvo com sucesso</div></div>
    </div>
  </div>
  <div id="myModalUB" class="modal" #myModalUB>
    <div class="modal-content">
        <span class="close" id="closeModalUB" #closeModalUB>&times;</span>
        <div class="slideshow-container">
            <div class="mySlides fadeModal slides">
                <img src="assets/images/yogiclines.svg">
                <div class="text english">
                  <p>Ujjayi breathing is a yogic breathing technique that is also known as ocean breath. It involves breathing in and out through the nose while creating a soft, whispering sound in the back of the throat</p>
                </div>
                <div class="text portuguese">
                  <p>A respiração Ujjayi é uma técnica de Respiração Yogi também conhecida como respiração do oceano. Envolve respirar pelo nariz, criando um som suave e sussurrante na parte de trás da garganta</p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/yogiclines.svg">
                <div class="text english">
                  <p>Ujjayi breathing is often used in yoga practice to help calm the mind, deepen the breath, and build internal heat. It can also help regulate the nervous system and increase focus and concentration</p>
                </div>
                <div class="text portuguese">
                  <p>A respiração Ujjayi é frequentemente usada na prática de yoga para ajudar a acalmar a mente, aprofundar a respiração e gerar calor interno. Também pode ajudar a regular o sistema nervoso e aumentar o foco e a concentração</p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/sit.svg">
                <div class="text english">
                  <p>
                    Find a comfortable seat or lay down. Relax your shoulders, face muscles and jaw. Place your tongue on the roof of your mouth, its tip should touch the top of your front teeth
                  </p>
                </div>
                <div class="text portuguese">
                  <p>
                    Encontre um assento confortável ou deite-se. Relaxe os ombros, os músculos faciais e a mandíbula. Coloque sua língua no céu da boca, a ponta deve tocar o topo dos seus dentes da frente
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/sandTimer.svg">
                <div class="text english">
                  <p>
                    Choose a ratio that you are comfortable with, but still pushes your comfortable zone. You can also choose how long you want to do it for 
                  </p>
                </div>
                <div class="text portuguese">
                  <p> 
                    Escolha uma proporção com a qual você se sinta confortável, mas que ainda desafie sua zona de conforto. Você também pode escolher por quanto tempo deseja fazê-lo 
                  </p> 
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/mindful.svg">
                <div class="text english">
                  <p>
                    Press 'Start' to begin the guided exercise. If you need to pause, just click on the cirlce again.
                  </p>
                  <p>
                    In the end, save your results to track your improvement over time
                  </p>
                </div>
                <div class="text portuguese">
                  <p>
                    Pressione 'Iniciar' e siga a técnica guiada. Salve seus resultados ao final. Se precisar pausar, basta clicar no círculo novamente.
                  </p>
                </div>
            </div>
            <div class="mySlides fadeModal slides">
                <img src="assets/images/airhunger.svg">
                <div class="text english">
                  <p>
                    Make sure you create a constriction on the back your throat and you can hear your own breath, focus on that sound
                  </p>
                </div>
                <div class="text portuguese">
                  <p>
                    Certifique-se de criar uma constrição na parte de trás da sua garganta e que você possa ouvir sua própria respiração, concentre-se nesse som
                  </p>
                </div>
            </div>
            <div class="dots" #UBdots role="tablist" aria-label="Slideshow pagination"></div>
        </div>
    </div>
  </div>
</ion-content>