<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback"></button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="https://brizastorage.blob.core.windows.net/images/B_DEGRAD.svg" width="50" height="50" />
    </div>
    <div class="placeholderHeader"></div> <!-- Placeholder to balance the flexbox layout -->
</header>  
  <div class="results-container">
    <h2 class="english">Results</h2>
    <h2 class="portuguese">Resultados</h2>
    <div class="calendar" #resultCalendar>
      <div class="calendar-header">
        <button (click)="changeMonth(-1)">&#9664;</button> <!-- Left arrow -->
        <span>{{ currentMonthName }} {{ currentYear }}</span>
        <button (click)="changeMonth(1)">&#9654;</button> <!-- Right arrow -->
      </div>
      
      <div class="calendar-weekdays">
        <div *ngFor="let day of weekdays">{{ day }}</div>
      </div>
      
      <div class="calendar-grid">
        <div *ngFor="let blank of blankDays" class="calendar-day empty"></div>
        <div *ngFor="let day of daysInMonth" 
          [class.current-day]="isToday(day)" 
          [class.clickable]="hasResultsOnDay(day)"
          class="calendar-day"
          (click)="hasResultsOnDay(day) ? openResultsModal(day) : null">
          <span>{{ day }}</span>
          <div *ngIf="hasResultsOnDay(day)" class="dot"></div>
        </div>
      </div>
      <div class="calendarText english">* Click on the days with dot to see results of that day</div>
      <div class="calendarText portuguese">* Clique nos dias com um ponto para ver resultados do dia</div>
    </div>
    <div id="resultsList" #resultsList></div>
    <div class="breathingpages set english" #resultMSG>
      <p>Monitor your results and track the advancement in your preferred breathing and breath-holding exercises. Observing your progress serves as a powerful motivator, encouraging you to continue your training and strive for better performance </p>
    </div>
    <div class="breathingpages set portuguese" #resultMSGpt>
      <p>Acompanhe seus resultados e acompanhe o progresso em seus exercícios de respiração preferidos e de retenção de respiração. Observar seu progresso serve como um motivador poderoso, incentivando você a continuar seu treinamento e buscar um melhor desempenho.</p>
    </div>
    <div id="noResultsMessage" #noResultsMessage style="display: none;">
      <div class="breathingpages2 english">
        <h3>It looks like you haven't done any breathing exercise. Find out what your Briza Retention Test score is to get started with the Briza Program.</h3>
        <a routerLink="/brt">
            <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brt.svg" />
        </a>
      </div>
      <div class="breathingpages2 portuguese">
        <h3>Parece que você ainda não fez nenhum exercício de respiração. Descubra qual é a sua pontuação com o Teste de Retenção Briza para começar com o Programa Briza</h3>
        <a routerLink="/brt">
          <img class="homepageimgs" src="https://brizastorage.blob.core.windows.net/images/brtPT.svg" />
        </a>
        
      </div>
    </div>
  </div>
  <footer id="resultsFooter" class="english">
    <div class="navbar">
        <a id="navResults" routerLink="/home"><i class="fa fa-home"></i>Home</a>
        <a class="active"><i class="fa fa-line-chart active"></i>Results</a>
        <a id="navProfile" routerLink="/profile"><i class="fa fa-user"></i>Profile</a>
    </div>
  </footer>
  <footer id="resultsFooterBR" class="portuguese">
    <div class="navbar">
        <a id="navResults" routerLink="/home"><i class="fa fa-home"></i>Home</a>
        <a class="active"><i class="fa fa-line-chart active"></i>Resultados</a>
        <a id="navProfile" routerLink="/profile"><i class="fa fa-user"></i>Perfil</a>
    </div>
  </footer>
  <ion-modal [isOpen]="isModalOpen2" (willDismiss)="closeModal()">
    <div class="modal-content2">    
      <div *ngIf="selectedDateResults.length; else noResults">
        <div class="modal-header">
          <div></div>
          <h2>{{ selectedDateHeader }}</h2>
          <button (click)="closeModal()" class="close-button">X</button>
        </div>
        <div *ngFor="let result of selectedDateResults" class="result-item">
          <h3>{{ getExerciseName(result.exerciseKey) }}</h3> 
  
          <!-- For results with multiple rounds -->
          <div *ngIf="isMultiRoundExercise(result.exerciseKey)">
            <div *ngFor="let round of result.result; let i = index">
              <p>Round {{ i + 1 }}: {{ formatTime(round) }}</p>
            </div>
          </div>

          <!-- For results with a single result -->
          <div *ngIf="!isMultiRoundExercise(result.exerciseKey)">
            <p *ngIf="result.result">Result: {{ result.result }}</p>
            <p *ngIf="result.rounds">Rounds: {{ result.rounds }}</p>
          </div>
          
          <button (click)="confirmDelete(result)" class="delete-button">Delete Result</button>
        </div>
      </div>
  
      <ng-template #noResults>
        <p>No results available for this date.</p>
      </ng-template>
    </div>
  </ion-modal>  
</ion-content>