<ion-content>
  <header class="mainHeader">
    <div class="back-buttons">
      <button class="goback" (click)="goBack()">&#8249;</button> <!-- Custom back button -->
    </div>
    <div class="logo-container">
        <img class="logoimg" src="assets/images/blogo.png" width="50" height="50" />
    </div>
    <div class="placeholderHeader"></div> <!-- Placeholder to balance the flexbox layout -->
  </header>  
  <div id="kbsetSettingsPage" class="hidden">
    <div class="breathingpages">
        <h1 class="english">Settings</h1>
        <h1 class="portuguese">Configurações</h1>
        <div class="settingBreaths">
        <h4 class="volumeSettings english settingH4">Number of breaths</h4>
        <h4 class="volumeSettings portuguese settingH4">Número de respirações</h4>
        <div class="settings-form settings-formWHKB">
          <div class="form-line kbSETForm">
              <button class="buttonminus" type="button" id="minusKB" #minusKB>-</button>
          </div>
          <div class="form-line kbSETForm">
            <img src="assets/images/breaths.png">
            <input class="SETWH" value="30" #breathsetInputKB min="1" readonly>
          </div>
          <div class="form-line kbSETForm">
              <button class="buttonplus" type="button" id="plusKB" #plusKB>+</button>
          </div>
      </div>
      <h4 class="volumeSettings english settingH4">Speed of breaths</h4>
      <h4 class="volumeSettings portuguese settingH4">Velocidade das respirações</h4>
      <div class="settings-form settings-formWHKB">
          <div class="form-line kbSETForm">
              <button class="buttonminus" type="button" id="SminusKB" #SminusKB>-</button>
          </div>
          <div class="form-line kbSETForm">
            <img src="assets/images/nor.png">
            <input class="SETWH" value="Medium" #speedsetInputKB min="1" readonly>
          </div>
          <div class="form-line kbSETForm">
              <button class="buttonplus" type="button" id="SplusKB" #SplusKB>+</button>
          </div>
      </div>
      </div>
        <div class="volume-bar">
          <h4 class="volumeSettings english">Voice</h4>
          <h4 class="volumeSettings portuguese">Voz</h4>
          <div class="settingsVolBut">
            <div class="audioButtons">
                <div #setVaudio class="audio"><img src="assets/images/speaker.jpg"></div>
                <div #setVmute class="mute"><img src="assets/images/mute.jpg"></div>
            </div>
            <input type="range" #voiceBarSETKB min="0" max="1" step="1" value="1">
          </div>
      </div>
      <hr />
      <div class="volume-bar">
        <h4 class="volumeSettings english">Voice type</h4>
        <h4 class="volumeSettings portuguese">Tipo de voz</h4>
        <div class="settingsVolBut">
          <div class="audioButtons">
            <div #setFemale class="audio"><img src="assets/images/female.jpeg"></div>
            <div #setMale class="mute"><img src="assets/images/male.jpeg"></div>
          </div>
          <input type="range" #maleBarSetKB min="0" max="1" step="1" value="1">
        </div>
    </div>
    <hr />
      <div class="volume-bar">
        <h4 class="volumeSettings english">Breath sound</h4>
        <h4 class="volumeSettings portuguese">Som das respirações</h4>
        <div class="settingsVolBut">
          <div class="audioButtons">
              <div #setBraudio class="audio"><img src="assets/images/wave.jpg"></div>
              <div #setBrmute class="mute"><img src="assets/images/nowave.jpg"></div>
          </div>
          <input type="range" #breathBarSETKB min="0" max="1" step="1" value="1">
        </div>
    </div>
    <hr />
    <div class="volume-bar">
      <h4 class="volumeSettings english">Vibrate on holding</h4>
      <h4 class="volumeSettings portuguese">Vibrar nas retenções</h4>
      <div class="settingsVolBut">
        <div class="audioButtons">
            <div #setVraudioKB class="audio"><img src="assets/images/vibrate.jpeg"></div>
            <div #setVrmuteKB class="mute"><img src="assets/images/nvibrate.jpeg"></div>
        </div>
        <input type="range" #vibrBarSETKB min="0" max="1" step="1" value="1">
      </div>
    </div>
    <hr />
    <div class="volume-bar">
      <h4 class="volumeSettings english">Bell</h4>
      <h4 class="volumeSettings portuguese">Sino</h4>
      <div class="settingsVolBut">
        <div class="audioButtons">
            <div #setBaudio class="audio"><img src="assets/images/bell.jpg"></div>
            <div #setBmute class="mute"><img src="assets/images/nobell.jpg"></div>
        </div>
        <input type="range" #bellBarSETKB min="0" max="1" step="1" value="1">
      </div>
    </div>
    <hr />
      <div class="volume-bar">
          <h4 class="volumeSettings english">Song</h4>
          <h4 class="volumeSettings portuguese">Música</h4>
          <div class="settingsVolBut">
            <div class="audioButtons">
                <div #setaudio class="audio"><img src="assets/images/song.jpg"></div>
                <div #setmute class="mute"><img src="assets/images/nosong.jpg"></div>
            </div>
            <input type="range" #volumeBarSETKB min="0" max="1" step="1" value="1">
          </div>
      </div>
      <hr />
    </div>
<div class="breathingpages set">
  <h4 class="volumeSettings english">Choose a song</h4>
  <h4 class="volumeSettings portuguese">Escolha música</h4>
  <div class="song-container">
    <select id="song-selectSETKB" #songSelectSETKB class="song-select" (change)="onSongChange($event)">
     <option value="assets/audio/healingFrequency.mp3" selected>Peaceful Garden</option>
      <option value="assets/audio/peacefulGarden.mp3">Gentle Piano</option>
      <option value="assets/audio/deep-meditation.mp3">Deep Meditation</option>
      <option value="assets/audio/inhaleLight.mp3">Flute Meditation</option>
      <option value="assets/audio/sacredStillness.mp3">Sacred Stillness</option>
      <option value="assets/audio/calmFrequency.mp3">Golden Horizon</option>
      <option value="assets/audio/celestialBreath.mp3">Celestial Breath</option>
      <option value="assets/audio/gentleRhythms.mp3">Gentle Rhythms</option>
    </select>
  </div>
</div>
</div>

</ion-content>

